<div class="fullpage">
    <div class="top" [style.background]="background">
        <div class="right">
            <div class="text">מכוני היופי של ישראל</div>
        </div>
    </div>
    <div class="all">
        <div class="blogs">
            <div class="all-blogs">
                <div class="blog" *ngFor="let item of data">
                    <app-blogcard id="{{item.bid}}" btitle="{{item.btitle}}" blogo="{{item.blogo}}"
                        bsubtitle="{{item.bsubtitle}}" bcontent="{{item.bcontent}}" bcreatedate="{{item.bcreatedate}}">
                    </app-blogcard>
                </div>
            </div>
        </div>
    </div>
</div>