<div class="container">
    <h1>BeautyS.CO.IL - תנאי שימוש</h1>
    <h2 class="first">הקדמה</h2>
    <p><b>ברוכים הבאים ל- "BeautyS.co.il" – מנוע חיפוש המשמש גם כמדריך מקיף לעסקים ושירותים בישראל.</b></p>
    <p>שירותי "<b>BeautyS.co.il</b>" ניתנים באמצעות אתר אינטרנט הפועל בכתובת <a href="/">https://BeautyS.co.il</a> (ובכל
        כתובת
        נוספת לפי שיקול דעת מפעילת השירות, להלן: "<b>האתר</b>") וכן באמצעות יישומון (אפליקציה) למכשירי קצה חכמים
        ("<b>היישומון</b>"). האתר והיישומון ייקראו להלן יחדיו: "<b>השירות</b>".</p>
    <p>השירות מנוהל ומופעל על-ידי חברת ביוטיס, ח.פ. 514042191, שכתובתה ברחוב לוינסקי 39, תל אביב מיקוד:
        6610910 ("<b>מפעילת השירות</b>").</p>
    <p>השימוש בשירות ובכלל זה בתכנים הכלולים בו מעיד על הסכמתך לתנאים אלה ולתנאים נוספים המופיעים בשירות, לרבות <a
            href="/privacy"><b>מדיניות הפרטיות</b></a> וכן הוראות או הנחיות נוספות שייתכן ויופיעו במהלך השימוש בשירות
        (יחדיו: "<b>המסמכים המחייבים</b>"). הנך מתבקש לקרוא את המסמכים המחייבים בקפידה, שכן הם מגדירים את זכויותייך
        והתחייבויותיך ביחס לשימוש בשירות ומהווים הסכם מחייב בינך לבין מפעילת השירות. תשומת לבך כי המסמכים המחייבים
        עשויים להשתנות לפי הצורך ולכן אנו ממליצים להתעדכן בהם מעת לעת. אם אינך מסכים לתנאי המסמכים המחייבים, כולם או
        חלקם, עלייך להימנע מהשימוש בשירות.</p>
    <p>המסמכים המחייבים חלים על השימוש בשירות ובתכנים הכלולים בו באמצעות כל מחשב או מכשיר תקשורת אחר (דוגמת טלפונים
        ושעונים חכמים, מחשבי לוח וכיו"ב). כמו כן, הם חלים על השימוש בשירות בין באמצעות האינטרנט ובין באמצעות כל רשת או
        אמצעי תקשורת אחרים.</p>
    <p>המסמכים המחייבים מנוסחים בלשון זכר מטעמי נוחות בלבד, והם מתייחסים, כמובן, גם לנשים. משמעות המונח "<b>תוכן</b>" או
        "<b>תכנים</b>" במסמכים המחייבים היא כל תוכן מילולי (Textual), חזותי (Visual), קולי (Audio), או כל שילוב שלהם או
        חלק מהם וכן עיצובם, עיבודם, עריכתם ודרך הצגתם.</p>
    <h2 id="2">אודות השירות בתמצית</h2>
    <p>השירות משמש, בין היתר, כמנוע חיפוש וכמדריך מקיף לעסקים ושירותים בישראל. התכנים והמידע המוצגים בו נאספים על-ידי
        מפעילת השירות ממגוון מקורות, מקוונים ואחרים וחלקם מוזנים אליו על-ידי משתמשי השירות . בין היתר, תוכל למצוא בשירות
        תכנים ומידע אודות בתי עסק, בעלי מקצוע, שירותים, הופעות ואירועי בידור, משרדים ממשלתיים, כספומטים, חדרי כושר,
        מוזיאונים, מיחזוריות, תחנות דלק ועוד ועוד, תוך שימוש באפשרויות וחתכי החיפוש המתקדמים שמציע השירות.</p>
    <p>סדר התוצאות המוצג בשירות נקבע באופן אוטומטי על-ידי אלגוריתם ממוחשב, בין היתר בהתבסס על המרחק ממיקומו בפועל של
        המשתמש וההתאמה לקריטריון החיפוש שביצע המשתמש, והוא אינו מושפע לטובת בית עסק או שירות כזה או אחר. אין באמור כדי
        לגרוע משיקול דעתה המלא של מפעילת השירות ביחס לסדר הופעת תוצאות החיפוש.</p>
    <p>כאמור, חלק מתכניו של השירות מוזן אליו על-ידי משתמשיו הרשומים, המשתתפים בהזנת התוכן לשירות באופן פעיל. בכלל זה,
        מאפשרת לך מפעילת השירות להוסיף מידע ותכנים אודות בתי עסק ושירותים שטרם התפרסמו בשירות וכן לכתוב ביקורות הולמות
        וחוקיות, המהוות הבעת דעה אישית, אודות בתי העסק והשירותים המוצגים בו. בנוסף, תוכל להוסיף צילומים אודות בתי העסק
        והשירותים המוצגים בשירות, לעדכן פרטים אודותיהם, לדווח על טעויות במידע ובתכנים המוצגים, לדווח על בתי עסק ושירותים
        שאינם פעילים יותר, ועוד מידע נוסף על זכויות בתכנים שמעלים משתמשים תוכל למצוא בהמשך תנאי השימוש.</p>
    <p>במידה והנך בעליו החוקי של עסק המוצג בשירות ("<b>בעל עסק</b>"), עשויה לאפשר לך מפעילת השירות גישה לאפשרויות עריכה
        מתקדמות כמו גם לסטטיסטיקות שונות הנוגעות למידע ולתכנים המתפרסמים בשירות ביחס לבית העסק שלך. מפעילת השירות אינה
        חייבת לאפשר לבעל עסק את האפשרויות כאמור והיא תעשה כן לפי שיקול דעתה הבלעדי ובכפוף למסירת אסמכתאות מתאימות להנחת
        דעתה של מפעילת השירות. יובהר כי בעלי עסקים אינם רשאים למנוע ממשתמשי השירות לערוך מידע ותכנים, כמו גם להוסיף
        תכנים חדשים ביחס לבית העסק שבבעלותם.</p>
    <p>מבלי לגרוע מכלליות האמור לעיל ביחס לסדר התוצאות המוצגות בשירות, רשאית מפעילת השירות להתיר לבעלי עסקים אפשרויות
        קידום של תכנים מסוימים בשירות כנגד תשלום. תכנים מקודמים יתפרסמו אך ורק באזורים המיועדים לכך בין עמודיו של
        השירות. מפעילת השירות אינה מתערבת באופן מלאכותי בסדר הצגת תוצאות החיפוש בשירות.
        למפעילת השירות מסור שיקול הדעת הבלעדי להחליט אילו תכנים ומידע יוצגו בשירות, משך הזמן בהם יוצגו, מה יהיה מיקומם
        ועיצובם וכל עניין אחר הקשור בהם ובכלל זאת להסיר כל תוכן מהשירות לפי שיקול דעתה הבלעדי. מידע נוסף אודות השירות,
        תכונותיו ואפשרויות השימוש בו, תוכל למצוא בעמודים הרלבנטיים של השירות.</p>
    <p>מפעילת השירות מעמידה לרשותך כלים לשיתוף וקישור תכנים מהשירות באמצעות רשתות חברתיות שונות ושירותים מקוונים של
        צדדים שלישיים, כגון פייסבוק. תשומת לבך כי השימוש ברשתות חברתיות ושירותי צד ג' כאמור נעשה על אחריותך בלבד. שימוש
        כאמור אינו קשור למפעילת השירות והוא יהיה כפוף לרוב למסמכים המשפטיים המסדירים את פעילותן של הרשתות החברתיות
        ושירותי צד ג' הללו, לרבות תנאי השימוש בשירותים מקוונים אלה ומדיניות הפרטיות הנוהגת בהם. מסמכים משפטיים אלה אינם
        מטעמה של מפעילת השירות.</p>
    <p><b>לתשומת לבך - חלק מהשירותים הניתנים באמצעות היישומון הם "שירותים מבוססי מיקום", הנעזרים בטכנולוגייתGPS על-מנת
            לקבוע את מיקומך ולספק לך תוצאות חיפוש התואמות ככל הניתן למיקום זה. לא ניתן לספק את השירותים הללו ללא הסכמתך
            לשימוש בטכנולוגיה זו ועל-כן בעצם התקנת היישומון והסכמתך לתנאים אלה אתה מסכים לשימוש זה. תוכל בכל עת לבטל את
            האפשרות לזהות את מיקומך באמצעות היישומון, על-ידי ביטול תכונה זו בהגדרות מכשיר הקצה שברשותך. על-מנת לצפות
            בתוצאות חיפוש התואמות את מיקומך באמצעות האתר, יהיה עליך להקליד את כתובתך במקום המיועד לכך באתר, אם תבחר
            לעשות כן, לפי שיקול דעתך.</b></p>
    <p>קבלת ושליחת מידע בזמן אמת באמצעות השירות דורשים חיבור מקוון של המחשב או מכשיר הקצה שברשותך לאינטרנט. עלויות חיבור
        כאמור כפופות להסכמים שבינך לבין ספקי התקשורת שלך ולתשלומים החלים עליך לפיהם והן מצויות באחריות המלאה.</p>
    <h2 id="3">השימוש בשירות</h2>
    <p>הנך רשאי להשתמש בשירות, בתכניו ובאפשרויות השימוש שהוא מציע, בהתאם לכללים המפורטים להלן. אין להשתמש בשירות באופן
        אחר, אלא אם כן קיבלת את הסכמתה המפורשת של מפעילת השירות לכך, מראש, בכתב ובכפוף לתנאי אותה הסכמה (ככל שתינתן) -
    </p>
        <ul>
        <li>אין לעשות בשירות כל שימוש המהווה או העלול להוות עבירה או עוולה אזרחית בהתאם להוראות כל דין ו/או הפוגע
            בזכויותיו של צד שלישי כלשהו;</li>
        <li>הנך רשאי להשתמש בשירות למטרות שאינן מסחריות בלבד וזאת מבלי לגרוע מזכותה של מפעילת השירות לאפשר שימוש מסחרי
            מוגבל בהיקפו בשירות לבעלי עסקים, לצורך מטרות המקדמות את בית העסק שבבעלותם בלבד;
            אין להעתיק ולהשתמש, או לאפשר לאחרים להעתיק ולהשתמש, בכל דרך אחרת בתכנים מתוך השירות, לרבות באתרים
            וביישומונים אחרים, בפרסומים אלקטרוניים, בפרסומי דפוס וכיו"ב, לכל מטרה אחרת;</li>
        <li>ככל שנרשמת לשירות בהתאם למפורט בתנאים אלה, הנך רשאי להשתמש בשירות באמצעות חשבון המשתמש שבאמצעותו נרשמת.</li>
        <li>אין להפעיל אמצעים לעקיפה, נטרול או התגברות על מנגנוני האבטחה בשירות, ואין לפגוע או להפריע בדרך כלשהי
            לפעילותו התקינה של השירות;</li>
        <li>אין להפעיל או לאפשר להפעיל כל יישום מחשב או כל אמצעי אחר, לרבות תוכנות מסוג Crawlers, Robots וכדומה, לשם
            חיפוש, סריקה, העתקה או אחזור אוטומטי של תכנים מהשירות. בכלל זה, אין ליצור ואין להשתמש באמצעים כאמור לשם
            יצירת לקט, אוסף או מאגר שיכילו תכנים או מידע מהשירות;</li>
        <li>אין להציג תכנים מהשירות בתוך מסגרת (Frame), גלויה או סמויה, אלא באישור מראש ובכתב של מפעילת השירות.
            אין להציג תכנים מהשירות בכל דרך שהיא – ובכלל זה באמצעות כל תוכנה, מכשיר, אביזר או פרוטוקול תקשורת המשנים את
            עיצובם או מחסירים מהם תכנים כלשהם ובפרט פרסומות ותכנים מסחריים;</li>
        <li>אין לקשר לשירות ולתכנים מכל מקור המכיל תכנים פורנוגראפיים, תכנים המעודדים לגזענות או להפליה פסולה, או
            המנוגדים לחוק, או המעודדים פעילות המנוגדת לחוק, או שפרסומם מנוגד לחוק;</li>
        <li>אין לקשר לתכנים מהשירות שאינם דף הבית של האתר ("קישור עמוק") ואין להציג, או לפרסם תכנים כאמור בכל דרך אחרת,
            אלא אם הקישור העמוק יהיה לדף אינטרנט באתר במלואו וכפי שהוא (AS IS), כך שניתן יהיה לצפות ולהשתמש בו באופן
            הזהה לחלוטין לשימוש ולצפייה בו באתר. במסגרת זו, חל איסור לקשר לתכנים מהשירות, במנותק מדפי האינטרנט או
            האזורים שבהם הם מופיעים בשירות (לדוגמה - אסור לקשר במישרין לתמונה או לקובץ גרפי בשירות, אלא לעמוד המלא שבו
            הם מופיעים). כמו כן, על כתובתו המדויקת של דף האינטרנט באתר להופיע במקום הרגיל המיועד לכך בממשק המשתמש
            (לדוגמה - בשורת הכתובת (Status Bar) בדפדפן של המשתמש). אין לשנות, לסלף או להסתיר כתובת זו ואין להחליפה בכל
            כתובת אחרת.</li>
    </ul>
    <p>מפעילת השירות לא תישא בכל אחריות לכל נזק שייגרם כתוצאה מכל קישור לתכנים בשירות ומכל הצגה או פרסום של תכנים בכל
        דרך אחרת. הנך נושא באחריות המלאה והבלעדית לכל קישור, הצגה או פרסום של התכנים שנעשו על ידך, ומתחייב לשפות את
        מפעילת השירות בגין כל נזק שייגרם כתוצאה מכך.
    </p>
    <p></p>
    <h2 id="4">דיוור פרסומי והודעות</h2>
    <p><b>השימוש בשירות ואישורך את המסמכים המחייבים מעיד על הסכמתך המפורשת לקבלת דברי פרסומת ממפעילת השירות ו/או מי
            מטעמה, כמשמעות הסכמה זו בהוראות סעיף 30א לחוק התקשורת (בזק ושידורים), התשמ"ב – 1982. דברי הפרסומת ישלחו אליך
            לפי המידע שמסרת למפעילת השירות במהלך הרישום לשירות, או הפרטים שאפשרת לנו גישה אליהם ככל ונרשמת לשירת באמצעות
            חשבונך ברשתות חברתיות, או בכל מקרה אחר בו מסרת למפעילת השירות את פרטייך, כגון באמצעות טפסי יצירת הקשר
            הכלולים בשירות.</b></p>
    <p><b>בכל עת, תוכל לחזור בך מהסכמתך ולהודיע למפעילת השירות על סירוב לקבלת דברי פרסומת, דרך כלל או מסוג מסוים, על-ידי
            משלוח הודעת סירוב. הדרך למשלוח הודעת הסירוב תפורט בדברי הפרסומת שתשלח אליך מפעילת השירות ו/או מי מטעמה.
            מפעילת השירות אף תהיה רשאית להשתמש בפרטים שמסרת לצורך משלוח עלוני מידע שאינם מהווים דבר פרסומת.</b></p>
    <p>בנוסף, תשומת לבך כי בעת השימוש ביישומון (ככל ומכשיר הקצה שברשותך תומך בכך), ייתכן ותתבקש לאשר קבלת הודעות מתפרצות
        מהיישומון (Push Notifications). במידה ותאשר קבלת הודעות כאמור, עשויה מפעילת השירות לשלוח אליך הודעות מסוג זה
        באמצעות ממשק היישומון או מכשיר הקצה שברשותך. תשומת לבך כי משלוח הודעות כאמור היא תכונה מובנית בחלק ממכשירי הקצה.
        אין באפשרות מפעילת השירות לכבות ו/או לנתק תכונה זו במכשירך ובמידה ותבחר לחדול מקבלת הודעות כאמור, יהיה עליך
        להסיר את תכונה זו ביחס ליישומון במישרין, על-ידי שימוש בתפריט ההגדרות הרלבנטי במכשיר הקצה שברשותך.</p>
    <h2 id="5">רישום לשירות</h2>
    <p>השימוש בשירות וצפייה בתכניו (ובכלל זה הורדת היישומון) אינו מחייב רישום או מסירת פרטים מזהים. עם זאת, השימוש בחלק
        מתכונותיו של השירות, כגון הוספת ועדכון מידע ותכנים אודות שירותים ובתי עסק המוצגים בשירות, כתיבת ביקורות וכיו"ב,
        כמו גם רישום כבעל עסק, מחייב רישום לשירות, מסירת המידע המתבקש במהלך הרישום וקבלת הסכמתך לתנאי המסמכים המחייבים.
    </p>
    <p><b>הרישום לשירות מותר למשתמשים שהם בני 18 ומעלה בלבד. ברישומך לשירות אתה מאשר ומצהיר כי אתה בן 18 ומעלה. במידה
            וגילך נמוך מ-18, תוכל להירשם לאתר ולהשתמש בו בהתאם לתנאים אלה, רק בכפוף לקבלת הסכמתם של הורייך או האפוטרופוס
            החוקי שלך ואישורם את הוראות ההסכמים המחייבים, לאחר שקראו אותם בעיון.
        </b></p>
    <p>הרישום לשירות ייעשה באמצעות חשבונך ברשתות חברתיות כגון פייסבוק וגוגל+. כאשר אתה נרשם לשירות באמצעות חשבון הרשת
        החברתית שלך, אתה מאפשר לנו גישה למידע הבסיסי אודותייך בפרופיל הרשת החברתית שלך, כגון שמך, כתובת הדוא"ל שלך וכל
        מידע ותוכן אחר הזמין לעיון בחשבון הרשת החברתית שלך. גישתנו למידע ולתכנים כאמור מוגבלת למידע ולתכנים שמפעיל הרשת
        החברתית בה אתה משתמש מאפשר לנו גישה אליהם, וזאת בהתאם להגדרות הפרטיות שלך באותה רשת חברתית, אותן אתה יכול לשנות
        מעת לעת באמצעות ממשק הרשת החברתית.</p>
    <p>מפעילת השירות רשאית לקבוע ולהוסיף מעת לעת דרכי רישום אחרות ונוספות ובכלל זה רישום ישיר שאינו מחייב הזדהות באמצעות
        חשבון רשת חברתית. במהלך רישום כאמור תתבקש למסור לנו פרטים אישיים מזהים ופרטי יצירת קשר איתך, כגון שמך המלא,
        כתובת דוא"ל פעילה, גילך ועוד. בנוסף, כאשר אתה נרשם לשירות כבעל עסק, אנו עשויים לדרוש ממך מידע נוסף, ובכלל זה
        אסמכתאות להנחת דעתה של מפעילת השירות, לפי שיקול דעתה הבלעדי, המעידות כי הנך בעליו של העסק הרלבנטי. בעל עסק
        המעוניין לרכוש פרסום בשירות, יתבקש גם למסור פרטי אמצעי תשלום וכל מידע נוסף הדרוש לשם רכישת שירותי הפרסום של
        השירות.</p>
    <p>במידה ותרצה לפנות אל מפעילת השירות באמצעות טופס יצירת הקשר המקוון שמעמידה מפעילת השירות לרשות המשתמשים, תידרש
        למסור לנו את שמך, כתובת הדוא"ל שלך ולהזין את תוכן פנייתך במקום המיועד לכך.</p>
    <p><b>בכל אחד אחד מהמקרים הנ"ל, עליך למסור רק פרטים נכונים, מדויקים ומלאים. מסירת פרטים שגויים עלולה למנוע ממך את
            האפשרות להשתמש בשירות ובמקרה הצורך לסכל יצירת קשר אתך. אנו נציין במפורש אילו שדות מידע מחייבים השלמה. ללא
            מסירת המידע המתבקש בשדות החובה הללו, לא תוכל להשלים את הרישום לשירות. מפעילת השירות שומרת לעצמה את הזכות
            לנקוט באמצעים שונים, טכנולוגיים ואחרים, כדי לאמת את זהותך ולוודא אותה.</b></p>
    <p>הפרטים שתמסור בעת רישום לשירות יישמרו במאגר המידע שבבעלות מפעילת השירות. מפעילת השירות לא תעשה בפרטיך שימוש, אלא
        בהתאם <a href="/privacy"><b>למדיניות הפרטיות</b></a> של השירות, המהווה חלק בלתי נפרד מתנאי שימוש אלה.</p>
    <p><b>ידוע לך ואתה מסכים כי הנהלת השירות רשאית לפרסם את שמך לצד כל תוכן שטענת או הזנת לשירות, ובכלל זאת ביקורות,
            וזאת לפי שיקול דעתה הבלעדי.</b></p>
    <p>ככל ותידרש להזין שם משתמש וסיסמה לצורך גישה לשירותים המחייבים רישום, וכדי למנוע שימוש לרעה בחשבונך בשירות, עליך
        לשמור בסודיות גמורה על שם המשתמש והסיסמה. הקפד להחליף את הסיסמה בתדירות גבוהה ככל האפשר ובכל מקרה אחת למספר
        חודשים לפחות. הנך נושא באחריות המלאה לכל שימוש שנעשה בחשבונך בשירות ובכלל זאת עקב מחדלך לשמור בסודיות את פרטי
        הגישה לחשבונך בשירות.</p>
    <p>מפעילת השירות רשאית שלא לאפשר לך להשתמש בשירותים הטעונים רישום לפי שיקול דעתה המוחלט. מבלי לגרוע מהאמור לעיל,
        רשאית מפעילת השירות לבטל את רישומך לשירות, או לחסום את גישתך אליו, בין היתר בכל אחד מהמקרים הבאים -
    <ul>
        <li>אם מסרת פרטים שגויים או בדויים בעת רישום לשירות;</li>
        <li>אם ביצעת מעשה או מחדל הפוגעים או עלולים לפגוע במפעילת השירות או בצדדים שלישיים כלשהם, לרבות משתמשים אחרים או
            ספקים או שותפים של מפעילת השירות;</li>
        <li>אם השתמשת בשירות לבצע או כדי לנסות לבצע מעשה בלתי חוקי, או מעשה הנחזה על פניו כבלתי חוקי, או כדי לאפשר,
            להקל, לסייע או לעודד ביצועו של מעשה כזה;</li>
        <li>אם הפרת את אילו מתנאי המסמכים המחייבים;</li>
        <li>אם תעשה כל פעולה שתמנע מאחרים להירשם לשירות או להמשיך ולהשתמש בו בכל דרך שהיא;</li>
        <li>אם מסרת את שם המשתמש והסיסמה שהוקצו לך, אם הוקצו, לשימוש של צד שלישי;</li>
        <li>אם יש לך חוב כספי למפעילת השירות ולא פרעת את חובך למרות שחלף המועד שנקבע לתשלומו;</li>
        <li>עם הפסקת פעילות מפעילת השירות או סיום פעילותו של השירות;</li>
        <li>לפי צו שיפוטי או הוראה של רשות מוסמכת;</li>
        <li>בכל מקרה אחר בו מפעילת השירות סבורה כי הביטול מוצדק ועומד באמות המידה המשפטיות המקובלות.</li>
    </ul><br> <b>מפעילת השירות עשויה להפעיל אמצעים שונים לניטור הפעילות בשירות ועל-מנת לאתר מקרי הונאה או שימוש לרעה
        בשירות. מפעילת השירות שומרת לעצמה את הזכות לחסום או לבטל את גישתך או רישומך לשירות, לפי שיקול דעתה הבלעדי, במידה
        וסברה כי חשבונך בשירות שימש לביצוע מעשים כאמור.</b>
    <h2 id="6">שירותים בתשלום</h2>
    <p>השימוש בשירות אינו כרוך בתשלום. אף הורדת היישומון (Download) מחנות היישומונים המקוונת (כגון ה- App Store או
        Google Play) אינה כרוכה בתשלום. מפעילת השירות שומרת לעצמה את הזכות לגבות תשלום בתמורה למתן השירותים, או הורדת
        היישומון, או ביחס לכל שירות עתידי אחר שיהווה חלק מהשירות. במקרה כזה, פרטי התשלום בגין כל שירות ודרך החיוב
        יפורסמו מראש בעמודים הרלבנטיים בשירות.</p>
    <p>שירותים בתשלום המיועדים לבעלי עסקים כרוכים בתשלום התמורה הנדרשת למפעילת השירות. תנאי השירותים כאמור (או כל שירות
        עתידי שהשימוש בו יהיה כרוך בתשלום) והתשלום בגינם יתפרסמו במקומות המיועדים לכך בשירות, או יימסרו לך בע"פ או בכתב
        על-ידי נציגי מפעילת השירות. התמורה תיגבה ממך באמצעות כרטיס אשראי שאת פרטיו המלאים יהיה עלייך למסור למפעילת
        השירות, או באמצעות דרכי חיוב אחרות ונוספות כפי שיהיו זמינות במסגרת השירות, מעת לעת ולפי שיקול דעתה הבלעדי של
        מפעילת השירות. מפעילת השירות אינה נוהגת לשמור את פרטי אמצעי התשלום במאגרי המידע שבבעלותה.</p>
    <p>ביצוע התשלום עשוי להיות כרוך בעמלות שונות שייגבו ממך על-ידי מפעילי שירות הסליקה או התשלום בהם תשתמש ובהתאם לתנאים
        של צדדים שלישיים אלה. הנך נושא באחריות הבלעדית לשאת בכל עמלה כאמור. מפעילת השירות שומרת לעצמה את הזכות להפסיק את
        השימוש באמצעי תשלום כלשהו בשירות, להתיר תשלום באמצעים נוספים ולהחיל הסדרי תשלום שונים על סוגי כרטיסי האשראי או
        אמצעי התשלום אותם תכבד מפעילת השירות. בכל מקרה, אין להשתמש באמצעי תשלום שאינו שייך לך וללא הרשאות הנדרשות.</p>
    <p><b>ביטול עסקה</b> – עסקת שירותי הקידום היא עסקה מתמשכת לתקופה לא קצובה, אשר התשלום עבורה מתחדש מדי חודש. במידה
        והלקוח מעוניין לבטל את העסקה, עליו להכנס לאיזור הניהול האישי בלחיצה על כפתור כניסת בעלי עסקים שנמצא בתפריט
        הראשי, ולעצור את הפרסום על ידי שינוי הגדרות המשתמש . הביטול יהיה תקף מרגע הביטול, אך התשלומים עבור השירות ימשכו
        עד לתום החודש הקלנדרי בו בוטלה העסקה – כלומר, המנוי ישלם את תשלום המינימום החודשי ובנוסף תשלומים נוספים שהצטברו
        במהלך החודש עד לרגע הביטול. לבירורים ושאלות בנושא ביטול עסקה יש לפנות בכתב לכתובת : <a
            href="mailto:info@BeautyS.co.il">info@BeautyS.co.il</a>.</p>
    <p><b>זמני אספקת השירות</b> – אספקת שירותי הקידום תחל לאחר אישור התשלום, כאשר התשלום בפועל יגבה ממועד העלייה לאוויר.
    </p>
    <h2 id="7">תכנים שמשתמשים מוסרים לפרסום בשירות</h2>
    <p>כמפורט לעיל (בפרק העוסק בתיאור השירות), חלק מתכניו של השירות מוזן אליו על-ידי משתמשיו הרשומים (לרבות בעלי עסקים),
        המשתתפים בהזנת התוכן לשירות באופן פעיל (ובכלל זה הזנת מידע אודות בתי עסק חדשים, עדכון המידע על בתי עסק קיימים,
        העלאת צילומים, ביקורות ועוד). תכנים אלו יתפרסמו באזורים המיועדים לכך בשירות - בין כשלעצמם, באזורים המיועדים
        לתכני המשתמשים בלבד, ובין ביחד עם תכנים מטעמה של מפעילת השירות. מסירת תכנים לפרסום בשירות אינה מקנה לך זכות
        לדרוש שהתכנים יפורסמו או יוסיפו להתפרסם.</p>
    <p>לפי רוב, תכנים שתשלח למפעילת השירות יהיו כפופים לבדיקה ראשונית של מפעילת השירות. עצם משלוח התוכן למפעילת השירות
        אינו מחייב את מפעילת השירות לפרסם את התוכן ששלחת. מרגע ששלחת למפעילת השירות תוכן לפרסום, יחולו עליו הוראות תנאים
        אלו. מפעילת השירות רשאית, אך איננה חייבת לפרסם בשירותים את תכניך. היא תעשה זאת בהתאם למיטב שיקול דעתה המקצועי.
    </p>
    <p>מפעילת השירות מעודדת את חופש הביטוי ואת קיומו של דיון פורה בשירות, תוך השתתפות פעילה שלך ושל יתר המשתמשים. יחד עם
        זאת, על מנת לאפשר את קיומו של שיח תרבותי וענייני ולמנוע ניצול לרעה של האפשרויות הפתוחות בפניך להתבטא בשירות,
        רשאית מפעילת השירות לבדוק את התכנים הללו לפני פרסומם, אך היא אינה חייבת לעשות כן. בדיקות כאלה עשויות להיעשות
        על-ידי מפעילת השירות באופן מדגמי, אך ורק כדי לנסות ולמנוע פרסום תכנים שהם בלתי חוקיים או פוגעניים על פניהם ובלא
        צורך בהפעלת שיקול דעת משפטי.</p>
    <p>בעת שיגור תכנים באמצעות השירות או מסירת תכנים לפרסום בשירות, חלה עליך האחריות המלאה והבלעדית לכל תוצאה שתנבע
        מהפרסום, או השיגור כאמור. עליך להקפיד שתכנים כאלה יהיו חוקיים. בין השאר ולמען הדוגמה בלבד, נאסר עליך לפרסם
        ולטעון לשירות, או לשגר באמצעות השירות, את התכנים הבאים -
    <ul>
        <li>כל תוכן שהוא שקרי, מטעה או מסולף;</li>
        <li>כל תוכן הפוגע בזכויות קנייניות של אחרים או מפר אותן - לרבות זכויות יוצרים, סימני מסחר וסודות מסחריים;</li>
        <li>כל תוכן פורנוגראפי או בעל אופי מיני בוטה;</li>
        <li>כל תוכן הנוגע לקטינים ומזהה אותם, את פרטיהם האישיים או את מענם ודרכי ההתקשרות עימם;</li>
        <li>כל תוכנת מחשב, קוד מחשב או יישום הכוללים נגיף-מחשב (וירוס), לרבות תוכנות עוינות הידועות כסוס-טרויאני, תולעים
            (Worms), ואנדלים (Vandals), יישומים מזיקים (Malicious Applications) וכיו"ב;</li>
        <li>סיסמאות, שמות משתמש ופרטים אחרים, המאפשרים שימוש בתוכנות מחשב, קבצים דיגיטאליים, אתרי אינטרנט, יישומים או
            שירותים, הטעונים הרשמה או תשלום, בלא תשלום או הרשמה כאמור;</li>
        <li>כל תוכן המהווה לשון הרע על אדם, או הפוגע בפרטיותו, או בשמו הטוב;</li>
        <li>כל תוכן המזהה אישית אנשים אחרים, מבלי שנתנו את הסכמתם לפרסום זהותם;</li>
        <li>כל תוכן בעל אופי או תוכן טורדני, מעליב, עוין, מאיים או גס רוח;</li>
        <li>כל תוכן שיש בו, או הוא מעודד לגזענות, או אפליה פסולה על בסיס גזע, מוצא, צבע עור, עדה, לאומיות, דת, מין,
            עיסוק, נטייה מינית, מחלה, נכות גופנית או נפשית, אמונה, השקפה פוליטית, או מעמד חברתי-כלכלי;</li>
        <li>כל תוכן המעודד ביצוע עבירה פלילית או עלול להוות בסיס לתביעה או אחריות אזרחית;</li>
        <li>כל תוכן העלול להטעות צרכן;</li>
        <li>כל תוכן בעל אופי פרסומי או מסחרי, שאינו קשור למפעילת השירות ו/או לשירותיה ו/או הכולל מידע הנוגע במישרין לבית
            העסק נשוא המידע;</li>
        <li>כל תוכן שהגישה אליו חסומה באמצעות סיסמה וכיו"ב, ואינה מתאפשרת באופן חופשי לכל משתמשי האינטרנט.</li>
    </ul>
    
    <p>מפעילת השירות רשאית לסרב לפרסם, או למחוק לאלתר כל תוכן שמסרת לפרסום, לפי שיקול דעתה הבלעדי, לרבות בכל עת שתמצא כי
        הפרת את תנאי המסמכים המחייבים או שעשית מעשה או מחדל הפוגע או עלול לפגוע בשירותים הניתנים בשירות, במשתמשיו,
        במפעילת השירות או במי מטעמה. במקרה זה, מפעילת השירות תהיה רשאית גם למנוע ממך פרסום תכנים נוספים בשירות. הוראות
        המסמכים המחייבים מוסיפות על זכויות מפעילת השירות לפי כל דין.</p>
    <p>החליטה מפעילת השירות לפרסם או להשתמש בתוכן שמסרת – רשאית היא לערוך כל תוכן כזה, לפי שיקול דעתה המוחלט ובכלל זה
        לקצרו. מפעילת השירות אינה מחויבת לציין את שמך כמקור התוכן שמסרת, אך היא רשאית לעשות כן לפי שיקול דעתה והנך מוסר
        את הסכמתך לכך.</p>
    <p>למעט מקומות בהם תינתן הודעה אחרת, התכנים שתמסור לפרסום בשירות יהיו חשופים לכל משתמשי האינטרנט, או לכל הפחות
        למשתמשים אחרים בשירות. נהג בתבונה ובזהירות במסירת פרטים אישיים (כדוגמת כתובת או מספר טלפון) וכן בתגובות ובפניות
        שיתקבלו אצלך בעקבות השימוש בשירות או פרסום איזה מפרטיך. זכור - עליך לנהוג במסירת התכנים ובפניות אליך לפחות באותה
        מידה של זהירות שאתה נוקט ביצירת קשר שאינה נעשית באמצעות האינטרנט.</p>
    <p><b>מפעילת השירות מעודדת אותך להתייחס בזהירות ובביקורתיות לתכנים המתפרסמים באינטרנט ובכלל זה לתכנים שמפרסמים
            משתמשים אחרים בשירות. תכנים שנמסרו על-ידי משתמשים אינם מתפרסמים מטעמה של מפעילת השירות ולפיכך היא אינה
            אחראית למהימנותם, אמינותם, דיוקם או שלמותם ואינה אחראית לכל תוצאה שתיגרם מהשימוש בהם או מהסתמכות עליהם.
        </b></p>
    <h2 id="8">קישורים</h2>
    <p>תמצא בשירות קישורים (לינקים) לעמודים שונים באינטרנט ובכלל זה קישורים לבתי העסק ונותני השירות הכלולים באינדקס
        שלנו. הקישורים מאפשרים לך למצוא תכנים המתפרסמים באינטרנט. תכנים אלה לרוב אינם מתפרסמים על ידי מפעילת השירות, או
        מטעמה ומפעילת השירות איננה שולטת או מפקחת עליהם. העובדה שהשירות מקשר לתכנים אלה אינה מעידה על הסכמת מפעילת
        השירות לתוכנם ואינה מהווה ערובה לאמינותם, לעדכניותם, לחוקיותם, לנוהגי בעלי התכנים בתחום הפרטיות ולכל היבט אחר
        הכרוך בהם. יתכן שתמצא שתכנים אלה אינם הולמים את צרכיך, או שאתה מתנגד לתוכנם, או סבור כי הם מקוממים, מרגיזים,
        בלתי נאותים, בלתי חוקיים או בלתי מוסריים. מפעילת השירות אינה אחראית לתכנים שאליהם מוליכים הקישורים ואינה אחראית
        לכל תוצאה שתיגרם מהשימוש בהם או מהסתמכות עליהם.</p>
    <p>מפעילת השירות איננה מתחייבת כי הקישורים שימצאו בשירות יהיו תקינים ויובילו אותך לעמוד אינטרנט פעיל והיא רשאית
        להסיר מהשירות קישורים שנכללו בו בעבר, או להימנע מהוספת קישורים חדשים - הכול, לפי שיקול דעתה המוחלט.</p>
    <h2 id="9">פרטיות</h2>
    <p>מפעילת השירות מכבדת את פרטיותך בעת השימוש בשירות. <a href="/privacy"><b>מדיניות הפרטיות</b></a> של השירות מהווה
        חלק בלתי נפרד מהמסמכים המחייבים. הואיל ומדיניות הפרטיות יכולה להשתנות מדי פעם, מומלץ שתחזור ותעיין בה מעת לעת.
    </p>
    <h2 id="10">תכנים מסחריים</h2>
    <p>מפעילת השירות עשויה להציב בשירות, לפי שיקול דעתה הבלעדי, תכנים מסחריים, כגון פרסומות ומודעות, הנמסרים לפרסום
        מטעמם של מפרסמים שונים המבקשים להציע למכירה מוצרים או שירותים ובכלל זה מידע שמקורו בתומכים ונותני חסות, העשוי
        ללבוש אופי מסחרי.</p>
    <p>מפעילת השירות לא תישא בכל אחריות לתכנים המסחריים שיפורסמו בשירות מטעם צדדים שלישיים. מפעילת השירות אינה כותבת,
        בודקת, מוודאת או עורכת את תוכן הפרסומים הללו או אמיתותם. האחריות היחידה לתכנים המסחריים ולכל תוצאה שתיגרם משימוש
        בהם או מהסתמכות עליהם חלה על המפרסמים. פרסום תכנים מסחריים בשירות אינו מהווה המלצה או עידוד לרכוש את השירותים,
        הנכסים או המוצרים המוצעים בהם למכירה.</p>
    <p>כל עסקה שתיעשה בעקבות תכנים מסחריים המתפרסמים בשירות תסוכם ישירות בינך לבין המפרסם הנוגע בדבר. מפעילת השירות
        איננה צד לכל עסקה כזו והיא לא תישא באחריות לשירותים וטובין שיוצעו בתכנים המסחריים בשירות או ירכשו באמצעותם.
        תוכן מסחרי בשירות יסומן כמודעה פרסומית ובכל מקרה לא ישפיע על סדר התוצאות המוצגות לגולש.</p>
    <h2 id="11">קניין רוחני</h2>
    <p>כל זכויות הקניין הרוחני ובכלל זה זכויות היוצרים באתר, ביישומון, בשירותים המוצעים בהם ובכל תוכן הכלול בהם (למעט
        תכנים הנמסרים לפרסום על ידך ועל ידי יתר המשתמשים בשירות) הינן של מפעילת השירות בלבד, או של צדדים שלישיים אחרים,
        שהתירו למפעילת השירות להשתמש בהם. אין להעתיק, להפיץ, להציג בפומבי, לבצע בפומבי, לשדר, להעמיד לרשות הציבור,
        לשנות, לעבד, ליצור יצירות נגזרות, למכור או להשכיר כל חלק מן הנ"ל, בין על ידך ובין באמצעות או בשיתוף צד שלישי,
        בכל דרך או אמצעי, בין אם אלקטרוניים, ממוחשבים, מכאניים, אופטיים, אמצעי צילום או הקלטה, או בכל אמצעי ודרך אחרת,
        בלא קבלת הסכמה בכתב ומראש ממפעילת השירות או מבעלי הזכויות האחרים, לפי העניין ובכפוף לתנאי ההסכמה (ככל שתינתן).
    </p>
    <p>סימני המסחר ומודעות הפרסומת של מפרסמים בשירות (ככל שישנם) הם קניינם של מפרסמים אלה בלבד. גם בהם אין לעשות שימוש
        בלא הסכמת המפרסם בכתב ומראש.</p>
    <p><b>מפעילת השירות אינה טוענת לבעלות בתכנים שאתה מוסר לפרסום בשירות או באמצעותו. כאשר אתה מוסר תכנים לפרסום בשירות,
            אתה מאשר בעצם מסירתם לפרסום כי אתה בעל מלוא הזכויות בהם וכי הנך רשאי למוסרם לפרסום. אם אינך היוצר או בעל
            הזכויות בתכנים שאתה מוסר לפרסום, אתה מאשר שהנך בעל הרשאה כדין מבעל הזכויות, המתירה לך למסור את התכנים לפרסום
            ולתת בהם זכויות שימוש כמפורט לעיל ולהלן. מפעילת השירות לא תישא באחריות לכל נזק שייגרם כתוצאה מהפרת זכויות של
            בעלי הזכויות בתכנים. הנך נושא באחריות המלאה והבלעדית לכל קישור, הצגה או פרסום של תכנים, שנעשו על ידך ומתחייב
            לשפות את מפעילת השירות בגין כל נזק שייגרם כתוצאה מכך.</b></p>
    <p><b>מבלי לגרוע מהאמור לעיל, כאשר אתה מוסר סרטוני וידאו לפרסום במסגרת השירות, אתה מצהיר ומאשר כי קיבלת את הסכמתם
            כדין של כל המצולמים במסגרת הפרסום (וככל ומדובר במצולמים קטינים – את הסכמת הוריהם או נציגיהם החוקיים), בין
            היתר ביחס לצילומם, השימוש בדמותם ובזהותם במסגרת השירות והשימוש בסרטוני הוידאו המציגים אותם בהתאם לרישיון
            שהענקת למפעילת השירות כאמור להלן.</b></p>
    <p>במסירת התכנים לפרסום אתה מקנה למפעילת השירות רישיון-חינם, כלל עולמי ובלתי מוגבל בזמן, להעתיק, לשכפל, להפיץ,
        לשווק, להעמיד לרשות לציבור, לשדר, לעבד, לערוך, לתרגם ולהשתמש בתכנים כאמור בכל דרך נוספת, לפי שיקול דעתה, בשירות
        ובכל נגזרת שלו, בכל מדיה שהיא ו/או בכל מסגרת אחרת, בין אם אלקטרונית ובין אם מודפסת. כאמור, רישיון זה ניתן
        למפעילת השירות ללא מתן תמורה כלשהיא, לרבות אזכור ('קרדיט') במידת האפשר, תמלוגים או טובות הנאה אחרות.</p>
    <h2 id="12">הסרת תכנים מהשירות</h2>
    <p><b>מפעילת השירות מכבדת את זכויותיהם של אחרים, לרבות זכויות הקניין הרוחני של צדדים שלישיים כמו גם את זכותם לשם טוב
            ולפרטיות. אם הנך סבור כי תוכן כלשהו המתפרסם בשירות פוגע בזכויות כלשהן הנתונות לך, הנך מוזמן ומתבקש ליידע את
            מפעילת השירות על כך מיידית בכתב, באמצעות פרטי יצירת הקשר המצוינים בתנאים אלה. צעדים שיינקטו על-ידי מפעילת
            השירות, ככל שינקטו, בהסתמך על מידע שיועבר לידיה, לא יהוו הוכחה להפרת זכות כלשהי.
        </b></p>
    <h2 id="13">אחריות</h2>
    <p>בכל מקום במסמכים המחייבים בו מפורטת אחריותה של מפעילת השירות, תהיה הכוונה גם לאחריותם של עובדיה, מנהליה והפועלים
        מכוחה או בשמה.</p>
    <p><b>השימוש באתר, ביישומון ובכל תוכן, או שירות הכלולים בהם ייעשה על אחריותך הבלעדית והמלאה</b> ומפעילת השירות לא
        תישא באחריות לכל נזק ישיר או עקיף שייגרמו לך או למי מטעמך, או לכל צד שלישי אחר, לרבות כל הפסד, אובדן או הוצאה,
        הקשורים, או נובעים, במישרין או בעקיפין עם האתר, היישומון וכל תוכן ושירות הכלולים בהם.</p>
    <p>התכנים והשירותים ניתנים לשימוש כמות שהם (AS IS). לא ניתן להתאימם לצרכיו של כל אדם ואדם. אתה מאשר בזאת כי בדקת את
        השירות ומצאת אותו מתאים לצרכייך ומטרותייך. לא תהיה לך כל טענה, תביעה או דרישה כלפי מפעילת השירות בגין תכונות
        התכנים והשירותים, יכולותיהם, מגבלותיהם, הכללים הנוהגים לגביהם והתאמתם אליך ולצרכיך.</p>
    <p>מפעילת השירות אינה מתחייבת כי לתכנים שתפרסם בשירות, או באמצעותו תהיה היענות. מפעילת השירות אינה יכולה לדעת אילו
        תגובות (אם בכלל) תקבל בעקבות הפרסום ומי יגיב לתכנים שתפרסם ולכן לא תישא כלפיך (או כלפי מי מטעמך) באחריות כלשהי
        לתגובות הללו, לזהות הפונים אליך או לכל תוצאה שתנבע מהפרסום. מפעילת השירות לא תהיה אחראית לכל שימוש שייעשה על ידי
        צד שלישי בתכנים שיפורסמו על-ידך.
        האתר עומד בתקן אחיד לאבטחת מידע לעסקים (PCI-DSS)</p>
    <p><b>כל החלטה שתקבל ביחס לתכנים שהתפרסמו בשירות, או ביחס לשימוש בהם, היא באחריותך המלאה בלבד. מפעילת השירות אינה
            מתחייבת כי תכנים, מוצרים ושירותים של צדדים שלישיים, לרבות של בעלי עסקים ושירותים ושל משתמשים, המתפרסמים
            בשירות, יהיו מלאים, נכונים, חוקיים או מדויקים או יהלמו את ציפיותיך ודרישותיך. מפעילת השירות לא תישא באחריות
            כלשהי לכל תוצאה שתנבע מהם, או משימוש בהם, או מהסתמכות עליהם. השימוש בשירותי ובתכני השירות הוא על אחריותך
            בלבד.</b></p>
    <p>מפעילת השירות מעודדת אותך להתייחס בזהירות ובביקורתיות לתכנים שמתפרסמים באינטרנט, ובכלל זה תכנים שמפרסמים משתמשים
        בשירות, לרבות תגובות וביקורות ומידע על בתי עסק וספקי שירותים, וכן תכנים שמפרסמת מפעילת השירות. תכנים אלה אינם
        תחליף לייעוץ או לטיפול מקצועיים במקום בו הם נדרשים. לעיתים תכנים אלה משקפים גישה או דעה אישית מסוימת של הכותב
        ועל כן יש להתייחס אליהם בזהירות המתבקש. אנו משתדלים שהמידע והתכנים שאנו מציגים לכם יהיה אמין ומדויק, אולם אין
        ביכולתנו להבטיח זאת.</p>
    <p>מפעילת השירות אינה מתחייבת ששירותי ותכני השירות לא יופרעו, יינתנו כסדרם או בלא הפסקות, יתקיימו בבטחה וללא טעויות,
        ויהיו חסינים מפני גישה בלתי-מורשית למחשבי מפעילת השירות או מפני נזקים, קלקולים, תקלות או כשלים - והכול, בחומרה,
        בתוכנה, בקווי ובמערכות תקשורת, אצל מפעילת השירות או אצל מי מספקיה.
        מפעילת השירות לא תישא באחריות לכל נזק הנובע מאובדן פרטייך, המידע בחשבונך או לשיבוש בפרטים אלה – בין באופן מלא
        ובין חלקית, כתוצאה מכשל במערכות המחשוב שלך או של מפעילת השירות, או של מי מטעמה.</p>
    <h2 id="14">שיפוי</h2>
    <p>הנך מתחייב לשפות את מפעילת השירות, עובדיה, מנהליה או מי מטעמה, בגין כל נזק, הפסד, אבדן-רווח, תשלום או הוצאה
        שייגרמו להם - ובכלל זה שכ"ט עו"ד והוצאות משפט - עקב הפרת תנאי שימוש אלה או אילו מהמסמכים המחייבים. בנוסף, תשפה
        את מפעילת השירות, עובדיה, מנהליה או מי מטעמה בגין כל טענה, תביעה או דרישה שתועלה נגדם על-ידי צד שלישי כלשהו
        כתוצאה מתכנים שמסרת לפרסום בשירות, או באמצעות השירות, כתוצאה מקישורים שביצעת, או כל שימוש אחר שעשית בשירות.</p>
    <h2 id="15">אחריות צדדים שלישיים ליישומון</h2>
    <p>השימוש שלך ביישומון עשוי להיות כפוף להוראות חוזיות נוספות של צדדים שלישיים, המסדירות את השימוש בחנות המקוונת
        שממנה הורדת את היישומון, כגון Google Play. הוראות כאלה עשויות להיחשב גם כחוזה לטובת אותם צדדים שלישיים, אם הדבר
        נקבע כך באותן הוראות חוזיות נוספות של צדדים שלישיים. מכל מקום, אותם צדדים שלישיים אינם אחראים למתן תמיכה או
        תחזוקה ליישומון.
        ההוראות שלהלן בסעיף זה חלות רק אם הורדת את האפליקציה מהאפ-סטור של אפל (Apple App Store), שאז אתה ומפעילת השירות
        מסכימים כי -
    <ul>
        <li>המסמכים המחייבים נכרתים בינך לבין מפעילת השירות, לא עם חברת .Apple Inc ("אפל"). אפל אינה אחראית ליישומון.
            במקרה של סתירה או אי-התאמה בין המסמכים המחייבים לבין תנאי השירות של האפ-סטור, הוראות תנאי השירות של האפ-סטור
            יגברו, אולם רק ביחס להוראות שנוגעות לאי-ההתאמה או לסתירה.</li>
        <li>הרישיון שמוענק לך ביישומון מוגבל לרישיון שאינו ניתן להעברה, לעשות שימוש ביישומון בכל מוצרי iOS שבבעלותך או
            בשליטתך, על-פי תנאי השימוש (Usage Rules) הקבועים בתנאי השירות של האפ-סטור. עם זה, ניתן לגשת ליישומון ולהשתמש
            בו באמצעות חשבונות אחרים הקשורים בך, בדרך של Family Sharing.</li>
        <li>במקרה של אי-עמידה באחריות מוצר כלשהו (אם אחריות כזו חלה), אתה רשאי להודיע לאפל ואפל תזכה אותך במחיר הורדת
            היישומון (אם שילמת עליו). אין לאפל אחריות מוצר אחרת מכל סוג שהוא ביחס ליישומון וכל הטענות, הפסדים, חבויות,
            נזקים, עלויות והוצאות המיוחסות לאי-עמידה באחריות המוצר (אם חלה), לא תהיה באחריות אפל.</li>
        <li>אפל אינה אחראית לטענות שלך או של צד שלישי כלשהו ביחס ליישומון, לאחזקתך בו או לשימוש שלך בו, לרבות: (א) טענות
            בנוגע לאחריות מוצר; (ב) טענו לפיהן היישומון אינו עומד בדרישות חוקיות או רגולטוריות כלשהן; (ג) טענות הנובעות
            מחקיקת הגנת הצרכן או חקיקה דומה.</li>
        <li>במקרה של טענת צד שלישי לפיה היישומון, אחזקתך בו או שימושך בו, מפר את זכויות הקניין הרוחני של צד שלישי, אפל
            לא תהיה אחראית לחקור, להגן, להתפשר או לסלק תביעות הפרה כאלה.</li>
        <li>עליך לציית לכל הסכם תנאי שימוש של צד שלישי החלים עליך בקשר לשימושך ביישומון (למשל, אסור לך להפר את תנאי
            השירות של ספק התקשורת האלחוטית שלך בעודך משתמש ביישומון).</li>
        <li>אפל והחברות-הבנות שלה הם מוטבי צד-שלישי של תנאים אלה. בהסכמתך לתנאים אלה, לאפל תהיה הזכות (ותחשב כמי שקיבלה
            את הזכות) לאכוף את התנאים כלפיך, וזאת בתור מוטב צד שלישי לתנאים. אתה מצהיר כי: (א) אינך ממוקם במדינה הנתונה
            לאמברגו של ממשלת ארה"ב, או שסומנה על-ידי ממשלת ארה"ב כמדינה תומכת טרור; (ב) אינך מופיע ברשימת הגורמים
            הפסולים או מוגבלים של ממשלת ארה"ב.</li>
    </ul>
    
    <h2>שינויים בשירות והפסקת פעילות</h2>
    <p>מפעילת השירות רשאית לשנות מעת לעת את מבנה השירות, מראהו ועיצובו, את היקפם וזמינותם של השירותים והתכנים בו ותהיה
        רשאית לשנות כל היבט אחר הכרוך בשירות - והכול, בלא צורך להודיע לך על כך מראש. שינויים כאלה יבוצעו, בין השאר,
        בהתחשב באופי הדינאמי של האינטרנט ובשינויים הטכנולוגיים והאחרים המתרחשים בו. מטבעם, שינויים מסוג זה עלולים להיות
        כרוכים בתקלות או לעורר בתחילה אי-נוחות וכיו"ב. לא תהיה לך כל טענה, תביעה או דרישה כלפי מפעילת השירות בגין ביצוע
        שינויים כאמור או תקלות שיתרחשו אגב ביצועם.</p>
    <p>מבלי לגרוע מן האמור לעיל תהיה רשאית מפעילת השירות להפסיק בכל עת את מתן השירותים, כולם או מקצתם, באופן זמני או
        קבוע. הנהלת השירות אף תהיה רשאית להפסיק מפעם לפעם את הפעילות בשירות לשם תחזוקה, תיקון, שדרוג ושיפור השירות.
        מפעילת השירות תפעל כמיטב יכולתה על-מנת לצמצם את פרקי הזמן שבמהלכם השירות לא יהיה פעיל. במידת האפשר, תפרסם מפעילת
        השירות הודעה בשירות על הפסקת השירותים זמן סביר מראש. עם הפסקת השירותים תחזיק מפעילת השירות את התוכן הכלול בשירות
        למשך זמן סביר נוסף ולאחר מכן תהיה רשאית למחוק אותו בלא לשמור כל גיבוי ממנו ובלא לתת הודעה נוספת על כך.</p>
    <h2 id="16">שינוי במסמכים המחייבים</h2>
    <p>מפעילת השירות רשאית לשנות מעת לעת את הוראות תנאי שימוש אלה וכל אחד מהמסמכים המחייבים. במידת האפשר ואם יבוצעו
        בתנאי שימוש אלו או במסמכים המחייבים שינויים מהותיים, תפורסם על-כך הודעה בעמוד הבית של האתר ו/או בממשק היישומון.
        הקישורים למסמכים המחייבים המוצבים בשירות יקשרו תמיד לנוסח העדכני של המסמכים המחייבים. המשך שימושך בשירות לאחר
        פרסום המסמכים המחייבים המעודכנים, מעיד על הסכמתך להם. אם אינך מסכים עם ההוראות החדשות במסמכים המחייבים, עלייך
        לחדול מלעשות כל שימוש בשירות.</p>
    <h2 id="17">דין וסמכות שיפוט</h2>
    <p>על השימוש באתר, ביישומון ובשירותים יחולו אך ורק דיני מדינת ישראל. מקום השיפוט הבלעדי בגין כל דבר ועניין הנובע
        מהמסמכים המחייבים, הינו בבתי המשפט המוסמכים במחוז תל-אביב, ישראל.</p>
    <h2 id="18">המחאה</h2>
    <p>העבירה מפעילת השירות את זכויותיה והתחייבויותיה ביחס לשירות, או כל חלק מהם, לצד שלישי, תהיה היא רשאית להמחות גם את
        זכויותיה והתחייבויותיה, כולן או חלקן, לפי המסמכים המחייבים. אינך רשאי להמחות כל זכות או חיוב לפי המסמכים
        המחייבים וכן אינך רשאי לשעבד, להסב, למשכן, להשאיל או לתת זכויות כלשהן לכל צד שלישי בכל אלה. כל מעשה או מחדל
        בניגוד לאמור לעיל – בטלים.</p>
    <h2 id="19">פנה אלינו</h2>
    <p>מפעילת השירות מקפידה על
        קיום הוראות החוק ומכבדת את זכויותיהם של משתמשי השירות וכל צד שלישי אחר. אם אתה סבור כי פורסם בשירות תוכן הפוגע
        בך מטעם כלשהו, וכן במידה ויש לך כל שאלה, הצעה, תלונה ועוד, נא פנה אלינו לפי הפרטים שלהלן, או באמצעות מנגנוני
        יצירת הקשר בגוף השירות, ואנו נשתדל לטפל בפנייתך בכל ההקדם:</p>
    <p class="nav-contact"><a><b>צור קשר</b></a></p>
    <p>עודכן לאחרונה: 09/07/2018.</p>
</div>