
<div class="container">
    <div class="goback" routerLink="/home">
        <div class="backicon">
            <img src="../../../../assets/GUI/arrow.png" alt="back">
        </div>
        <div class="back">חזור</div>
    </div>
   <h1>
    תקנון שימוש באתר
   </h1>
    <p dir="rtl" style="color: #0b0b0b;">ברוכים הבאים ל….&nbsp;(להלן: “האתר”). האתר מופעל ע”י ….&nbsp;(ע.מ: ……) &nbsp;(להלן: “הנהלת האתר” או “החברה”).<br>האתר משמש כ…&nbsp;\ אתר סחר אלקטרוני אשר מציע, (בין היתר) למכירה מוצרים שונים (להלן: “המוצרים”).</p>
    <ol style="color: #0b0b0b;">
    <li dir="rtl"> <p dir="rtl">כללי</p> <ol> <li dir="rtl"> <p dir="rtl">האמור בתקנון זה מתייחס באופן שווה לבני שני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד.</p> </li>
    <li dir="rtl"> <p dir="rtl">הוראות תקנון זה ותנאי השימוש המופיעים באתר מגדירים את מערכת היחסים המשפטית בין המזמין לבין האתר, את תנאי השימוש באתר ו/או<br>את הזמנת המוצרים מן האתר ומעידים על הסכמת המזמין, לתנאים אלה ולתנאים נוספים המופיעים באתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה רשאית בכל עת, על פי שיקול דעתה הבלעדי, לעדכן &nbsp;תקנון זה.</p> </li>
    <li dir="rtl"> <p dir="rtl">תנאים אלה חלים על השימוש באתר ובשירותים הכלולים בו באמצעות כל מחשב או מכשיר תקשורת אחר (כדוגמת טלפון סלולארי, טבלטים למיניהם וכו’) כמו כן<br>הם חלים על השימוש באתר, בין באמצעות רשת האינטרנט ובין באמצעות כל רשת או אמצעי תקשורת אחר.</p> </li>
    <li dir="rtl"> <p dir="rtl">אין באמור בתקנון זה כדי לגרוע מהוראות חוק הגנת הצרכן, התשמ”א-1981 (להלן: “חוק הגנת הצרכן”) והתקנות אשר הותקנו מכוחו, ככל שהן חלות על האתר<br>(להלן: “ההוראות”), למעט במקרים בהם ניתן להתנות על הוראות כאמור והתניה כאמור בוצעה במסגרת האתר אם במפורש ואם במשתמע.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה והנהלת האתר עושים כמיטב יכולתם להציג את המידע השלם והמקיף ביותר לגבי המוצר לרבות תמונות, חרף האמור בסעיף זה יובהר, כי עלולים<br>להופיע באתר בתום לב וללא כוונת זדון ו/או מתוך רצון להטעות, אי דיוקים ו/או שגיאות ו/או השמטות והחברה, הנהלת האתר והאתר לא יישאו באחריות כלשהי הנובעת<br>מאי הדיוקים ו/או או השגיאות.</p> </li>
    <li dir="rtl"> <p dir="rtl">כותרות הפרקים מובאות לשם נוחות והתמצאות המזמין ולא ישמשו בפרשנות התקנון.</p> </li>
    <li dir="rtl"> <p dir="rtl">טעות סופר בתיאור מוצר/ים לא תחייב את החברה.</p> </li>
    <li dir="rtl"> <p dir="rtl">תמונות המוצרים באתר מוצגות לצורכי המחשה בלבד. בנוסף, ייתכנו הבדלים במראה, בגוון, בגודל, וכיו”ב בין המוצר, כפי שהוא מוצג באתר, לבין המוצר במציאות.</p> </li>
    <li dir="rtl"> <p dir="rtl">אין להעתיק ולהשתמש, או לאפשר לאחרים להשתמש, בכל דרך אחרת בתכנים מתוך האתר, לרבות באתרי אינטרנט אחרים, בפרסומים אלקטרוניים,<br>בפרסומי דפוס וכיו”ב, לכל מטרה אחרת.</p> </li>
    <li dir="rtl"> <p dir="rtl">המועד שנרשם, לכל עניין ועניין, במחשבי החברה הוא המועד הקובע לכל דבר.</p> </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="2">
    <li dir="rtl"> <p dir="rtl">הרשמה לאתר</p> <ol> <li dir="rtl"> <p dir="rtl">על מנת לבצע הזמנה של מוצרים על המזמין להירשם באתר&nbsp; באמצעות טופס הרשמה מקוון.</p> </li>
    <li dir="rtl"> <p dir="rtl">כל אדם, לרבות חברה, רשאי להשתמש באתר, לרבות לבצע רכישות באמצעות האתר, בין היתר, בכפוף להיותו כשיר לבצע פעולות משפטיות מחייבות,<br>, בעל כרטיס אשראי &nbsp;תקף ,שהונפק &nbsp;ע”י אחת מחברות כרטיסי האשראי&nbsp;(לעיל ולהלן:&nbsp;“המזמין”).</p> </li>
    <li dir="rtl"> <p dir="rtl">הרישום הינו חד פעמי, כאשר לאחריו המזמין לא יידרש לשוב ולהירשם בכל פעם מחדש בעת ביצוע הרכישה.</p> </li>
    <li dir="rtl"> <p dir="rtl">בעת הרישום באתר על המזמין להזין שם משתמש וסיסמא וכן את כתובת הדואר האלקטרוני שלו. במידה וישכח המזמין את הסיסמא, תשלח אליו הסיסמא<br>הקיימת כפי שהוזנה בעת הרישום הראשוני באתר לכתובת הדוא”ל אשר הוזנה באתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">בעתיד אם וכאשר יבקש המזמין לרכוש מוצרים נוספים, יזוהה המזמין לפי שם המזמין והסיסמא שבחר.</p> </li>
    <li dir="rtl"> <p dir="rtl">פרטי המזמין יעודכנו בהתאם לנתונים אשר ימולאו על ידי המזמין בטופס הרישום המקוון במצוי באתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">הנהלת האתר רשאית מעת לעת לדרוש פרטי זיהוי נוספים.</p> </li>
    <li dir="rtl"> <p dir="rtl">מבלי לגרוע מהאמור לעיל, החברה תהא רשאית למנוע מכל אדם להשתמש באתר, באופן זמני או לצמיתות על פי שיקול דעתה הבלעדי ומבלי למסור<br>הודעה על כך מראש, לרבות בכל אחד מהמקרים הבאים:</p> <ol> <li dir="rtl"> <p dir="rtl">ביצוע מעשה בלתי חוקי ו/או הפרת הוראות הדין;</p> </li>
    <li dir="rtl"> <p dir="rtl">הפרת תנאי מתנאי תקנון זה;</p> </li>
    <li dir="rtl"> <p dir="rtl">מסירת פרטים שגויים במתכוון;</p> </li>
    <li dir="rtl"> <p dir="rtl">ביצוע פעולה העלולה לפגוע בפעילותו התקינה של האתר ו/או במי מהספקים ו/או בצד ג’ כלשהו;</p> </li>
    <li dir="rtl"> <p dir="rtl">כרטיס האשראי שברשות המזמין נחסם או הוגבל לשימוש בדרך כלשהי.</p> </li>
    </ol>
    </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="3">
    <li dir="rtl"> <p dir="rtl">רכישת מוצרים באתר</p> <ol> <li dir="rtl"> <p dir="rtl">רכישת המוצרים תתבצע באמצעות הוספת מוצרים לסל הקניות, לאחר הוספת מוצרים לסל הקניות יזין המזמין בטופס המקוון המיועד לכך בתהליך<br>ההזמנה את פרטי המזמין הבאים: שם פרטי, שם משפחה, מס’ טלפון, כתובת דואר אלקטרוני, בנוסף יש למסור את פרטי מקבל ההזמנה, שם פרטי,<br>שם משפחה, מס’ טלפון, יישוב, רחוב&nbsp; מס’ בית, קומה, דירה, כניסה וכל פרט מזהה אחר שיש בידיו לסייע למבצע המשלוח לאתר בקלות את הנכס אליו מתבצעת<br>מסירת ההזמנה לרבות הערות ומידע בנוגע לפעולת השילוח ו/או במידה ומקבל ההזמנה אינו בבית. השדות המסומנים בכוכבית קיימת חובה למלאם ובלעדיהם לא תתאפשר<br>השלמת ההזמנה.</p> </li>
    <li dir="rtl"> <p dir="rtl">על מנת למנוע כל אפשרות של תקלה במשלוח על המזמין למסור רק פרטים מדויקים ונכונים.</p> </li>
    <li dir="rtl"> <p dir="rtl">בעת פעולת השלמת ההזמנה יאשר המזמין את פרטי ההזמנה ואת נכונות הפרטים שמסר.</p> </li>
    <li dir="rtl"> <p dir="rtl">מילוי כל הפרטים מהווה תנאי מוקדם לביצוע ההזמנה וזאת לשם ביצוע ההזמנה ביעילות וללא תקלות ועל כן יש להקפיד על מסירת כל הפרטים במדויק.</p> </li>
    <li dir="rtl"> <p dir="rtl">פרטי המזמין יעודכנו בהתאם לאמור בטופס ההזמנה המקוון באתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">מילוי כל הפרטים הנדרשים לרכישת המוצר על ידי המזמין יחשב לביצוע הזמנה (להלן:”ההזמנה”) עם קבלת ההזמנה, האתר יבצע בדיקה של פרטי כרטיס האשראי<br>ורק לאחר אישור חברת האשראי ו/או לאחר קבלת אישור מפיי פאל כפי שיובהר להלן, הפעולה תאושר ויצא אישור סופי של ההזמנה, חיוב הלקוח עבור המוצר יבוצע<br>דרך כרטיס האשראי ו/או דרך חשבון הפיי פאל כפי שיבואר להלן והכל בכפוף להימצאות המוצרים במלאי החברה והאתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">הפרטים כפי שהוזנו בטופס ההזמנה על ידי המזמין, יהוו ראיה חלוטה לנכונות הפעולות.</p> </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">אופן ביצוע התשלום עבור ההזמנה</p> <ol> <li dir="rtl"> <p dir="rtl">התשלום עבור המוצרים יעשה באמצעות כרטיס אשראי או באמצעות חשבון בשירות “ארנק&nbsp;אלקטרוני”&nbsp;כדוגמת &nbsp;פיי פאל- (<a style="color: #818181;" href="http://www.paypal.com/">WWW.PAYPAL.COM</a>) וכל שירות דומה<br>, כפי שיהיה זמין לשימוש באתר, מעת לעת לפי שיקול דעתה של הנהלת האתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">אם יבחר המזמין להשתמש בכרטיס אשראי לשם ביצוע התשלום, יתבקש המזמין למסור את פרטי כרטיס האשראי, תעודת זהות, סוג הכרטיס ותוקפו.&nbsp;אם החליט המזמין לשלם באמצעות הפיי פאל, החברה תוכל לגבות את התשלום עבור המוצרים רק לאחר קבלת אישור מפיי פאל. השימוש וקבלת האישור מפיי-פאל כפופים לתנאי השימוש של אתר פיי פאל.</p> </li>
    <li dir="rtl"> <p dir="rtl">הנהלת האתר שומרת לעצמה את הזכות להפסיק את השימוש באמצעי התשלום כלשהו באתר, להתיר שימוש באמצעי תשלום נוספים ולהחיל הסדרי תשלום שונים על סוגי כרטיסי אשראי שונים או אמצעי תשלום שהנהלת האתר תכבד.</p> </li>
    <li dir="rtl"> <p dir="rtl">לאחר שהוזנו פרטי התשלום בטופס ההזמנה המקוון, ישלח אל המזמין אישור באמצעות הדואר האלקטרוני על קליטת פרטי ההזמנה. יובהר כי אישור זה אינו מחייב את הנהלת האתר לספק את המוצרים שהוזמנו והוא רק מעיד שפרטי ההזמנה נקלטו בהנהלת האתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">מיד לאחר ביצוע ההזמנה, תבצע הנהלת האתר בדיקה של אמצעי התשלום בו השתמש המזמין, תינתן הודעה מתאימה למזמין כי ההזמנה אושרה וחשבונו יחויב בעלות השירות.</p> </li>
    <li dir="rtl"> <p dir="rtl">במקרה בו לא אושרה&nbsp; העסקה על ידי חברת האשראי או על ידי חשבון הפיי פאל או כל אמצעי תשלום אר שיהיה באותה עת, יקבל המזמין הודעה מתאימה על כך והנהלת האתר תיצור קשר עם המזמין לשם השלמת העסקה או ביטולה.</p> </li>
    <li dir="rtl"> <p dir="rtl">אישור פעולת הרכישה מותנה בהימצאות המוצר הנרכש במלאי במועד האספקה המבוקש ו/במועד ההזמנה. אם לא צויין, כי המוצר אינו קיים במלאי והמוצר לא הורד מהאתר עד למועד ביצוע ההזמנה, לא תהא הנהלת האתר מחויבת בכפוף לכך שהנהלת האתר תשיב למזמין כל סכום ששולם אם שולם להנהלת האתר ו/או תבטל את החיוב אם בוצע בגין פעולת הרכישה.</p> </li>
    <li dir="rtl"> <p dir="rtl">יובהר כי יתכנו מצבים בהם על אף שהפריט מוצג באתר כקיים במלאי, בפועל הוא חסר&nbsp; ולא ניתן לספק אותו, במקרים אלו תבוטל העסקה ולמזמין לא תהה כל טענה בקשר לכך בכפוף להשבת הסכום ששולם על ידי הלקוח.</p> </li>
    <li dir="rtl"> <p dir="rtl">מועד המשלוח יקבע החל מיום אישור העסקה על ידי חברת האשראי או אישור מחשבון הפיי פאל&nbsp; או שירות ארנק אלקטרוני זמין אחר שאושר.</p> </li>
    <li dir="rtl"> <p dir="rtl">במידה והמזמין חויב בטעות על ידי חברת האשראי, על המזמין להודיע להנהלת האתר על מנת לבצע זיכוי בהתאם.</p> </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="5">
    <li dir="rtl"> <p dir="rtl">אספקה והובלת המוצרים</p> <ol> <li dir="rtl"> <p dir="rtl">אספקת המוצר ע”י האתר יעשה רק לאחר קבלת אישור תשלום מאת חברת האשראי ו/או מאת חשבון הפיי פאל, כלומר המוצר שולם, כמפורט לעיל, המוצר יסופק לכתובת שהמזמין הקליד ו/או מסר בעת ביצוע ההזמנה בטופס המקוון.</p> </li>
    <li dir="rtl"> <p dir="rtl">האתר מתחייב לספק את הסחורה במסגרת זמן האספקה ליעד המבוקש ויעשה כמיטב יכולתו כי המוצר יגיע במהירות.</p> </li>
    <li dir="rtl"> <p dir="rtl">הנהלת האתר תפעל כמיטב יכולתה לספק את המוצרים במהירות והמוצרים ובתוך 14 ימי עסקים מיום קליטת ההזמנה ואישורה אם נשלח באמצעות דואר רשום ותוך 3 ימי עסקים אם נשלח באמצעות שליח.&nbsp;&nbsp;<br class="kix-line-break">זמני אספקת המוצרים כוללים רק את חישובם של ימי עסקים (ימי א’ עד ה’, לא כולל ימי שישי, שבת, ערבי חג וימי חג).</p> </li>
    <li dir="rtl"> <p dir="rtl">המשלוחים שיסופקו באמצעות חברת המשלוחים מטעם הנהלת האתר הינם בהתאם לתנאי חברת המשלוחים, אזורי החלוקה של חברת המשלוחים ובתאום מראש עם מקבל ההזמנה.</p> </li>
    <li dir="rtl"> <p dir="rtl">במידה ואין ביכולתה של חברת המשלוחים לבצע את המשלוח עד לכתובת המשלוח מכל סיבה שהיא. הנהלת האתר תודיע למזמין ותפעל למציאת פתרון חלופי אשר יענה לרצון שני הצדדים.</p> </li>
    <li dir="rtl"> <p dir="rtl">במקרים בהם מסופקים המוצרים באמצעות דואר ישראל, לכתובת המשלוח שמסר המזמין בעת ביצוע ההזמנה. המוצרים יישלחו בכפוף לזמן האספקה של דואר ישראל ואינם ניתנים לבקרה ולשליטה על ידי הנהלת האתר ו/או הספקים.</p> </li>
    <li dir="rtl"> <p dir="rtl">מועדי האספקה המצוינים באתר ולעיל אינם חלים על מוצרים שאזלו מן המלאי של האתר ו/או מן המלאי של הספק הרלוונטי.</p> </li>
    <li dir="rtl"> <p dir="rtl">המשלוחים מבוצעים על ידי חברת שליחויות, באמצעותה תבוצע ההובלה של המוצרים תנאי חברת השליחויות&nbsp; יחייבו את הלקוח.</p> </li>
    <li dir="rtl"> <p dir="rtl">דמי המשלוח – בנוסף למחיר המוצרים שהוזמנו, יושת על המזמין תשלום של דמי משלוח, סכום דמי המשלוח יופיע בתום תהליך ההזמנה בהתאם לדרך השילוח אותה בחר המזמין,&nbsp;אלא אם כן צויין אחרת.</p> </li>
    <li dir="rtl"> <p dir="rtl">דמי המשלוח ישולמו עם התשלום בגין המוצר. במכירה בתשלומים באמצעות בכרטיס אשראי ו/או באמצעות חשבון הפיי פאל. האתר רשאי לגבות את דמי המשלוח עם חיוב התשלום הראשון.</p> </li>
    <li dir="rtl"> <p dir="rtl">האתר לא יהיה אחראי לכל איחור ו/או עיכוב באספקה ו/או לאי אספקה של המוצרים אשר נגרם כתוצאה מאחת הסיבות להלן:</p> <ol> <li dir="rtl"> <p dir="rtl">כח עליון ומבלי לפגוע בכלליות האמור מלחמה, מבצע צבאי, מבצע חרום ו/או נזקי טבע ו/או מאירועים שאינם בשליטת האתר כגון שביתות והשבתות כלל משקיות ו/או אצל ספקים של שירותים או סחורות הדרושים לייצור אספקה או הובלת מוצר.</p> </li>
    <li dir="rtl"> <p dir="rtl">כל סיבה שאינה בשליטת האתר ו/או החברה.</p> </li>
    <li dir="rtl"> <p dir="rtl">מסיבה הקשורה עם מבצע השליחות.</p> </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">זמני אספקת המוצרים המצוינים כוללים רק את חישובם של ימי עסקים (ימי א’ עד ה’ לא כולל ימי שישי ושבת, ערבי חג וימי חג).</p> </li>
    <li dir="rtl"> <p dir="rtl">על הלקוח להודיע מיידית לאתר אם המוצר לא סופק בתקופת האספקה המפורטת באתר, במקרה כזה זמן האספקה החדש ייחשב מיום תיאום מועד חדש.</p> </li>
    <li dir="rtl"> <p dir="rtl">יש להקפיד למלא פרטים מדויקים ועדכניים, במקרה שהמוצרים יחזרו לחברה בגלל פרטים מוטעים, המזמין יישא בתשלום בגין דמי משלוח וטיפול.&nbsp;<br class="kix-line-break"><br class="kix-line-break"></p> </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">ביטול רכישה מצד המזמין</p> <ol> <li dir="rtl"> <p dir="rtl">המזמין רשאי לבטל את העסקה בהתאם להוראות חוק הגנת הצרכן והתקנות שהותקנו על פיו. מבלי לגרוע מהאמור:</p> <ol> <li dir="rtl"> <p dir="rtl">ביטול ייעשה אך ורק בהודעה בכתב לכתובת הדוא”ל ………</p> </li>
    <li dir="rtl"> <p dir="rtl">ביטול עסקה ע”י המזמין לא יתאפשר ברכישת פריטים מסוימים כמפורט בסעיף קטן 14ג(ד) לחוק הגנת הצרכן.</p> </li>
    <li dir="rtl"> <p dir="rtl">ביטול העסקה ע”י הלקוח כפוף לכך שהמוצר יוחזר ככל שהדבר סביר או אפשרי באריזתו המקורית.</p> </li>
    <li dir="rtl"> <p dir="rtl">לאחר&nbsp;קבלת הודעת הביטול יושב למזמין הסכום ששולם על ידו בגין המוצר בניכוי דמי ביטול (דמי המשלוח אינם חלק ממחיר המוצר ולכן ינוכו בנפרד מההחזר) בשיעור של 5% מסכום העסקה או 100 ש”ח, לפי הנמוך. במקרה של ביטול עסקה עקב פגם או אי התאמה, לא יחויב המזמין בדמי ביטול כלשהם. הוראות חוק הגנת הצרכן נוספות בנוגע לביטול הרכישה מצד המזמין, לרבות בנוגע לחובה להחזיר המוצר, יחולו גם-כן.</p> </li>
    </ol>
    </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">ביטול רכישה מצד החברה</p> <ol> <li dir="rtl"> <p dir="rtl">החברה תהא רשאית, על פי שיקול דעתה הבלעדי, בשל כל סיבה, ובכל עת, לבטל או להפסיק עסקה ו/או מכירה ו/או לבטל הזמנה, כולה או חלקה, ו/או את פעילות האתר, כולו או חלקו.</p> </li>
    <li dir="rtl"> <p dir="rtl">הודעה על ביטול או הפסקה מעין זה תימסר למשתמש או למזמין, והחברה תימנע מחיוב כרטיס האשראי של המזמין או תשיב לו כל סכום ששולם בגין המוצרים, ככל ששולם.</p> </li>
    <li dir="rtl"> <p dir="rtl">למעט בגין השבת סכום העסקה כאמור, לא תהיה למשתמש או למזמין כל טענה, תביעה ו/או דרישה כלפי החברה ו/או הספק בגין ביטול העסקה כאמור בסעיף זה.</p> </li>
    <li dir="rtl"> <p dir="rtl">במידה והתגלה כי מוצר אזל מהמלאי, רשאי האתר לבטל את ההזמנה או להציע פריט חלופי שווה ערך. בוטלה הזמנה כאמור האתר לא יהיה אחראי ולא ישא בכל נזק ישיר, עקיף, תוצאתי או מיוחד שנגרם ללקוח או לצד שלישי לרבות אך לא רק נזק בגין רכישת הפריט אצל צד שלישי במחיר גבוה יותר.</p> </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">&nbsp;זכויות יוצרים</p> <ol> <li dir="rtl"> <p dir="rtl">כל זכויות הקניין הרוחני, לרבות פטנטים, זכויות היוצרים, הדגמים, המדגמים והסודות המסחריים, הנם רכושם של החברה בלבד או של צדדים שלישיים אחרים שהרשו להנהלת האתר להשתמש בהם.</p> </li>
    <li dir="rtl"> <p dir="rtl">זכויות אלה חלות בין השאר על הנתונים באתר, לרבות רשימת המוצרים, תאור ועיצוב המוצרים וכל פרט אחר הקשור להפעלתו.</p> </li>
    <li dir="rtl"> <p dir="rtl">זכויות אלה חלות גם על שם האתר ושם המתחם (www.—–.com ) של האתר, סימני המסחר (בין אם נרשמו ובין אם לא) הם כולם רכושה של החברה. אין לעשות בהם שימוש בלא קבלת הסכמתה בכתב ומראש.</p> </li>
    <li dir="rtl"> <p dir="rtl">אין להעתיק, לשכפל, להפיץ, למכור, לשווק, להשכיר ולתרגם מידע כלשהו מהאתר, לרבות סימני מסחר, תמונות וטקסטים, עיצוב המוצרים תמונות המוצרים וכיו”ב בלא קבלת אישור מראש ובכתב של החברה.</p> </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="5">
    <li style="list-style-type: none;"> <ol start="5"> <li dir="rtl"> <p dir="rtl">אין לקשר לתכנים מהאתר, שאינם דף הבית של האתר (קישור עמוק) ואין להציג או לפרסם תכנים כאמור בכל דרך שהיא, אלא אם הקישור העמוק יהיה לדף האינטרנט באתר במלוא וכפי שהוא, כך שניתן יהיה לצפות ולהשתמש בו באופן הזהה לחלוטין לשימוש ולצפייה בו באתר&nbsp; וזאת תוך קבלת ההסכמה מהנהלת האתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">הנהלת האתר רשאית להורות על ביטול של קישור עמוק גם לאחר מתן הסכמתה וזאת לפי שיקול דעתה הבלעדי ובמקרב זה לא תהיה לך כל טענה ו/או דרישה ו/או תביעה כלפי הנהלת האתר.</p> </li>
    </ol>
    </li>
    <li dir="rtl"> <p dir="rtl">אחריות</p> <ol> <li dir="rtl"> <p dir="rtl">החברה (ו/או מי מטעמה) אינה נושאת במישרין ו/או בעקיפין באחריות כלשהי לנזקים הנובעים ו/או הקשורים בכל דרך שהיא, על תיקונם, הרכבתם ו/או החלפתם של המוצרים.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה (ו/או מי מטעמה) אינה נושאת במישרין או בעקיפין באחריות כלשהי לנזקים הנובעים כתוצאה משימוש ו/או הסתמכות על מידע המתפרסם באתרים חיצוניים, שאליהם ניתן להגיע באמצעות איזה מהשירותים באתר. יובהר כי החברה עושה ותעשה כמיטב יכולתה לשתף פעולה עם ספקים אמינים ובעלי מוניטין בלבד.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה (ו/או מי מטעמה) אינה נושאת במישרין ו/או בעקיפין באחריות כלשהי לנזקים הנובעים ו/או הקשורים בכל דרך שהיא בשימוש ו/או בביצועי האתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">בכל מקרה החברה לא תישא באחריות לפעילות כלשהי של כל גורם אחר שאינו בשליטתה המלאה.</p> </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="10">
    <li dir="rtl"> <p dir="rtl">סודיות ופרטיות</p> <ol> <li dir="rtl"> <p dir="rtl">כל פרטיו האישים של המזמין (שם, דואר אלקטרוני וכדומה), יישמרו במאגרי המידע של החברה.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה לא תעביר פרטיו האישיים של המזמין לאף גורם אחר זולת לספקים, במידת הצורך וזאת רק לשם השלמת עסקה.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה לא תעשה כל שימוש בפרטים של אמצעי התשלום של המזמין אלא לביצוע תשלום בגין עסקה אותה ביקש המזמין לערוך, ופרטים אלו לא יועברו לאף גורם אחר זולת לצורך זה. למען הסר ספק, פרטי אמצעי התשלום אינם נשמרים במאגרי המידע של החברה.</p> </li>
    <li dir="rtl"> <p dir="rtl">למרות האמור לעיל, החברה תהא רשאית להעביר פרטיו האישיים של משתמש לצד שלישי במקרים בהם המזמין ביצע מעשה או מחדל הפוגעים ו/או העלולים לפגוע בחברה ו/או בצדדים שלישיים כלשהם, המזמין עשה שימוש בשירותי החברה לביצוע מעשה בלתי חוקי, אם התקבל בידי החברה צו שיפוטי המורה לה למסור את פרטי המזמין לצד שלישי וכן בכל מחלוקת או הליכים משפטיים.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה תוכל להשתמש בפרטיו האישיים של המזמין, ללא זיהוי המזמין הספציפי, לצורך ניתוח מידע סטטיסטי והצגתו ו/או מסירתו לגורמים אחרים.</p> </li>
    <li dir="rtl"> <p dir="rtl">מאחר שמדובר בביצוע פעולות בסביבה מקוונת אין באפשרותה של החברה להבטיח חסינות מוחלטת מפני חדירות למחשביה או חשיפת המידע האגור בידי מבצעי פעולות בלתי חוקיות. אם יעלה בידי צד שלישי לחדור למידע אשר שמור בידי החברה ו/או להשתמש בו לרעה, לא תהיה למשתמש כל טענה, תביעה או דרישה כלפי החברה.</p> </li>
    <li dir="rtl"> <p dir="rtl">החברה תהא רשאית לעשות שימוש ב – “עוגיות” (“cookies”) על מנת לספק למשתמש שירות מהיר ויעיל ולחסוך מהמזמין הצורך להזין את פרטיו האישיים בכל כניסה לאתר.</p> </li>
    <li dir="rtl"> <p dir="rtl">בקיום מקרים שאינם בשליטתה של החברה ו/או הנובעים מכח עליון, החברה לא תהא אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם למזמין ו/או למי מטעם המזמין עם מידע זה יאבד או אם יעשה בו שימוש לא מורשה.</p> </li>
    </ol>
    </li>
    </ol>
    <ol style="color: #0b0b0b;" start="11">
    <li dir="rtl"> <p dir="rtl">דין ושיפוט</p> <ol> <li dir="rtl"> <p dir="rtl">הדין החל על תקנון זה ו/או על כל פעולה ו/או על סכסוך הנובע ממנו, הוא הדין הישראלי בלבד.</p> </li>
    <li dir="rtl"> <p dir="rtl">בכל מקרה של מחלוקת, תהא לבתי המשפט (השלום או המחוזי) תל אביב-יפו הסמכות הבלעדית לדון בה.</p> </li>
    <li dir="rtl"> <p dir="rtl">הדין החל על השימוש באתר, על ההזמנה ועל תקנון זה, לרבות פרשנותו ואכיפתו של התקנון הוא הדין הישראלי בלבד.</p> </li>
    </ol>
    </li>
    </ol>
  
</div>