header {
  background: white;
  position: sticky;
  top: 0;
  z-index: 9999999999 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
  padding: 10px 0;
  max-width: 100vw !important;

  .cols {
    display: flex;
    align-items: center;
    .col {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;

      img {
        cursor: pointer;
        transition: 0.2s;
        filter: hue-rotate(249deg) brightness(1.9);
        &:hover {
          transform: scale(0.9);
        }
      }

      .nav {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          cursor: pointer;
          padding: 10px;
          transition: 0.2s;
          &:hover {
            color: #23abe4;
            transform: translateY(5px) scale(1.2);
          }
        }
      }

      .btn.small {
        width: 118px;
        margin: 0px;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 786px) {
  header {
    display: none;
  }
}