<header>
    <div class="cols">
        <div class="col">
            <img routerLink="/" src="assets/Glamour-Logo.svg.png" width="150px">
        </div>
        <div class="col">
            <div class="nav">
                <li routerLink="/" >בית</li>
                <li routerLink="/business" >מנוע חיפוש</li>
                <li routerLink="/about" >אודות</li>
                <li routerLink="/contact" >צור קשר</li>
            </div>
        </div>
        <div class="col">
            <li routerLink="/user-dashboard" class="btn small">ממשק משתמש</li>
        </div>
    </div>
</header>