<div class="fullpage">
  <div class="col">
    <div class="user-dashboard">
      <div class="goback" routerLink="../../">
        <div class="backicon">
          <img src="../../../../assets/GUI/arrow.png" alt="back" />
        </div>
        <div class="back">חזור</div>
      </div>
      <div [style.display]="submitedb" class="Thank">קיבלנו את הפרטים של העסק שלך<br>נעבור על התוכן שהגשת ונחזור עליך בתוך 24 שעות עם קישור לעסק החדש שלך</div>

      <form (ngSubmit)="create()" class="createform" [style.display]="submited" ngNativeValidate>
        <div class="hello">פתיחת עסק</div>

        <div class="form-floating">
            <input
              type="text"
              class="form-control"
              placeholder="שם העסק"
              [(ngModel)]="business.bname"
              name="bname"
              required
            />
            <label>שם העסק</label>
          </div>
        <div class="form-floating">
          <select
            class="form-select"
            aria-label="Floating label select example"
            id="bgender"
            name="bgender"
            [(ngModel)]="business.bgender"
            required
          >
            <option value="male">זכר</option>
            <option value="female">נקבה</option>
          </select>
          <label for="floatingSelect">מין</label>

        </div>
        <div class="form-floating">
          <select
            class="form-select"
            aria-label="Default select example"
            id="barea"
            name="barea"
            [(ngModel)]="business.barea"
            required
          >
            <option value="ירושלים">ירושלים</option>
            <option value="תל אביב">תל אביב</option>
            <option value="צפון">צפון</option>
            <option value="דרום">דרום</option>
            <option value="מרכז">מרכז</option>
          </select>
          <label>מחוז</label>

        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="עיר"
            [(ngModel)]="business.bcity"
            name="bcity"
            required
          />
          <label>עיר</label>

        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="רחוב"
            [(ngModel)]="business.baddress"
            name="baddress"
            required
          />
          <label>רחוב</label>

        </div>
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="טלפון עסק"
            [(ngModel)]="business.bphone"
            name="bphone"
            required
          />
          <label>פלאפון</label>

        </div>
        <div class="form-floating">
          <select
            class="form-select"
            aria-label="Default select example"
            id="bsubject"
            name="bsubject"
            [(ngModel)]="business.bsubject"
            required
          >
            <option value="מספרות">מספרות</option>
            <option value="קעקועים">קעקועים</option>
            <option value="גבות">גבות</option>
            <option value="איפור">איפור</option>
            <option value="קוסמטיקה">קוסמטיקה</option>
            <option value="ציפורניים">ציפורניים</option>
          </select>
          <label>תחום</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="תיאור קצר"
            [(ngModel)]="business.bdescriptions"
            name="bdescriptions"
            rows="2"
            required
          ></textarea>
          <label>תיאור קצר</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="שם חשבון אינסטגרם"
            [(ngModel)]="business.instegram"
            name="instegram"
            
          />
          <label>שם חשבון אינסטגרם</label>
        </div>
        <div class="form-floating">
          <input
            type="file"
            (change)="onFileSelected($event)"
            class="form-control"
            id="inputGroupFile03"
            required
          />
          <label>לוגו</label>
        </div>
        <input type="submit" class="btn" value="צור עסק" />
      </form>
    </div>
  </div>
  <div class="col img">
    <img src="../../../../assets/GUI/air.png" alt="air" />
  </div>
</div>
