<div class="fullpage">
    <div class="user-dashboard">
        <form (ngSubmit)="create()" class="createform">
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="שם העסק" [(ngModel)]='business.bname' name="bname"
                    required>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.bname==undefined || business.bname=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <select class="form-select" 
                aria-label="Default select example"
                id="bgender"
                name="bgender"
                [(ngModel)]="business.bgender">
                <option value="male">זכר</option>
                <option value="female">נקבה</option>
                <option value="male-female">חד קרן</option>
                </select>
                <div class="label">מין</div>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors" 
            *ngIf="business.bgender==undefined || business.bgender=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <select class="form-select" 
                aria-label="Default select example"
                id="barea"
                name="barea"
                [(ngModel)]="business.barea">
                <option value="ירושלים">ירושלים</option>
                <option value="תל אביב">תל אביב</option>
                <option value="צפון">צפון</option>
                <option value="דרום">דרום</option>
                <option value="מרכז">מרכז</option>
                </select>
                <div class="label">מחוז</div>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors" 
            *ngIf="business.barea==undefined || business.barea=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="עיר" [(ngModel)]='business.bcity' name="bcity"
                    required>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.bcity==undefined || business.bcity=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="רחוב" [(ngModel)]='business.baddress'
                    name="baddress" required>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.baddress==undefined || business.baddress=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="טלפון עסק" [(ngModel)]='business.bphone'
                    name="bphone" required>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.bphone==undefined || business.bphone=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <select class="form-select" 
                aria-label="Default select example"
                id="bsubject"
                name="bsubject"
                [(ngModel)]="business.bsubject">
                <option value="מספרה">מספרה</option>
                <option value="קעקועים">קעקועים</option>
                </select>
                <div class="label">תחום</div>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors" 
            *ngIf="business.bsubject==undefined || business.bsubject=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <textarea class="form-control" placeholder="תיאור קצר" [(ngModel)]='business.bdescriptions'
                    name="bdescriptions" rows="2" required></textarea>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.bdescriptions==undefined || business.bdescriptions=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="לינק לאינסטגרם" [(ngModel)]='business.instegram'
                name="instegram" required>
            </div>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="business.instegram==undefined || business.instegram=='' ">
                שדה חובה
            </p>
                <p class="form-control">
                    לוגו
                    <input type="file" (change)="onFileSelected($event)" class="form-control" id="inputGroupFile03">
                </p>
            <p class="createerror" [style.display]="displylcraeteerrors"
                *ngIf="logourl==undefined || logourl=='' ">
                שדה חובה
            </p>            
            <input type="submit" class="create" value="צור עסק" />
        </form>
    </div>
</div>