<div class="container">
    <h1>BeautyS.CO.IL – מדיניות הפרטיות</h1>
    <h2>מהי מדיניות הפרטיות?</h2>
    <p>חברת  ביוטיס בע"מ (להלן: "<strong>מפעילת השירות</strong>") מתייחסת בכבוד לפרטיות המשתמשים בשירות
        "<strong>BeautyS.co.il</strong>", שהיא
        מנהלת ומפעילה באתר אינטרנט המצוי בכתובת <a href="https://BeautyS.co.il">https://BeautyS.co.il</a> (ובכל כתובת נוספת
        לפי שיקול דעת מפעילת השירות, להלן:
        "<strong>האתר</strong>") וכן באמצעות יישומון (אפליקציה) למכשירי קצה חכמים ("<strong>היישומון</strong>"). האתר
        והיישומון ייקראו להלן יחדיו:
        "<strong>השירות</strong>".
    </p>
    <p>במדיניות הפרטיות שלהלן נציג לך מהי מדיניות הפרטיות הנוהגת בשירות. המדיניות סוקרת, בין השאר, את המידע אשר רשאית
        מפעילת השירות לאסוף אודותיך ואת
        האופן שבו משתמשת מפעילת השירות במידע הנמסר לה על-ידי המשתמשים בשירות, או שנאסף על-ידה בעת כל שימוש שלך בשירות.
        מדיניות פרטיות זו מהווה חלק בלתי
        נפרד <a href="https://BeautyS.co.il/terms">מתנאי השימוש</a> בשירות. המדיניות מנוסחת בלשון זכר מטעמי נוחות בלבד,
        והיא מתייחסת, כמובן, גם לנשים.</p>
    <h2>צור קשר / מסור דיווח על פגיעה בפרטיותך</h2>
    <p>במידה ואתה סבור כי פרטיותך נפגעה במהלך השימוש בשירות, או בכל שאלה אחרת הנוגעת למדיניות זו, אנא פנה למפעילת השירות
        באמצעות כתובת הדוא"ל:
        <a href="mailto:info@BeautyS.co.il">info@BeautyS.co.il</a> נציגינו עומדים לרשותך לצורך כל בקשה, תגובה, שאלה או תלונה.
    </p>
    <h2>מסירת פרטים ומידע אישי למפעילת השירות</h2>
    <p>לצורך קבלת השירותים, במלואם נאסף באמצעות השירות מידע שנמסר בעת הרישום, נתוני מיקום, וכן מידע במהלך השימוש שלך
        בשירות – הכל כפי שיפורט להלן
        (להלן: "<strong>המידע האישי</strong>").</p>
    <p>אין לך כל מחויבות חוקית למסור את המידע האישי. מסירת המידע האישי נעשית בהסכמתך המלאה והחופשית. עם זאת, אם תחליט
        שלא למסור את המידע המבוקש, ישנם
        שירותים שלא נוכל או לא נסכים לספק לך.</p>
    <p>המידע האישי שמסרת לנו במסגרת השירותים ייאגר וישמר במאגר המידע של מפעילת השירות, המנוהל בהתאם לחוק הגנת הפרטיות,
        התשמ"א-1981 (להלן: "<strong>חוק הגנת הפרטיות</strong>") והתקנות מכוחו, לרבות לצורך דיוור ישיר.</p>
    <h2>מסירת מידע בעת הרישום לשירות</h2>
    <p>כאמור, השימוש בשירות וצפייה בתכניו (ובכלל זה הורדת היישומון) <strong>אינו</strong> מחייב רישום או מסירת מידע אישי
        ואין כל חובה חוקית לעשות כן.
        עם זאת, השימוש בחלק מתכונות השירות, כגון הוספת ועדכון מידע ותכנים אודות ספקי שירותים ובתי עסק המוצגים בשירות,
        כתיבת ביקורות וכיו"ב, כמו גם רישום
        כבעל עסק, מחייב רישום לשירות ומסירת המידע המתבקש במהלך הרישום.
        <strong>הרישום לשירות הוא מגיל 18 ומעלה. עליך להימנע ממסירת פרטים אישיים כלשהם למפעילת השירות אם גילך נמוך
            מ-18</strong>.
    </p>
    <p>הרישום לשירות ייעשה לרוב באמצעות חשבונך ברשתות חברתיות כגון פייסבוק וגוגל. כאשר אתה נרשם לשירות באמצעות חשבון
        הרשת החברתית שלך, אתה מאפשר
        למפעילת השירות גישה למידע הבסיסי אודותייך בפרופיל הרשת החברתית שלך, כגון שמך, כתובת הדוא"ל שלך וכל מידע ותוכן
        אחר הזמין לעיון בחשבון זה. גישת
        מפעילת השירות למידע ולתכנים כאמור מוגבלת למידע ולתכנים שמפעיל הרשת החברתית בה אתה משתמש מאפשר לנו גישה אליהם,
        <strong>וזאת בהתאם להגדרות הפרטיות שלך באותה רשת חברתית</strong>, אותן אתה יכול לשנות מעת לעת באמצעות ממשק הרשת
        החברתית. תשומת לבך כי השימוש
        ברשתות חברתיות הוא חיצוני ונפרד לשירות וכפוף לנוהגי הפרטיות של אותן רשתות חברתיות. מדיניות זו אינו חלה על
        פעילותן של רשתות חברתיות אלה.
    </p>
    <p>מפעילת השירות עשויה לאפשר גם רישום ישיר שאינו מחייב הזדהות באמצעות חשבון רשת חברתית. במהלך רישום כאמור תתבקש
        למסור לנו פרטים אישיים ופרטי יצירת
        קשר, כגון שם מלא, כתובת דוא"ל פעילה, גיל ועוד. כאשר אתה נרשם לשירות כבעל עסק, אנו עשויים לדרוש ממך מידע נוסף,
        ובכלל זה אסמכתאות להנחת דעתה של
        מפעילת השירות, המעידות כי הנך בעליו של העסק הרלבנטי. בעל עסק המעוניין לרכוש פרסום בשירות, יתבקש גם למסור פרטי
        אמצעי תשלום וכל מידע נוסף הדרוש
        לשם רכישת שירותי הפרסום של השירות. מפעילת השירות אינה שומרת את פרטי אמצעי התשלום במאגרי המידע שבבעלותה.</p>
    <p>במידה ותרצה לפנות אל מפעילת השירות באמצעות טופס יצירת הקשר המקוון שמעמידה מפעילת השירות לרשות המשתמשים, תידרש
        למסור לנו את שמך, כתובת הדוא"ל
        שלך ולהזין את תוכן פנייתך במקום המיועד לכך. מפעילת השירות עשויה לאסוף מידע אישי נוסף בעת שתיצור עמה קשר ובמסגרת
        כל תכתובת שתנהל מולה, למשל בעת
        שתגיש בקשות או פניות כלשהן למפעילת השירות.</p>
    <p>השדות שחובה למלא יסומנו במפורש. ללא מסירת המידע המבוקש לא תוכל להשלים את הרישום או את הפעולה המבוקשת. עליך למסור
        רק פרטים נכונים, מדויקים
        ומלאים. אולם פרטים שגויים, או אי מסירת מלוא הפרטים הנדרשים, עלולים למנוע ממך את האפשרות להשתמש בחלק מתכונות
        השירות, לפגוע באיכות השירות הניתן לך
        וכן לפגוע ביכולת ליצור איתך קשר במידת הצורך.</p>
    <p>כאשר אתה מוסר פרטים אישיים של צד שלישי, אתה מצהיר ומאשר כי קיבלת את הסכמתו המפורשת ומדעת למסירת פרטיו למפעילת
        השירות, לשם השימוש בפרטים אלה
        בהתאם למדיניות זו.</p>
    <h2>איסוף נתוני מיקום</h2>
    <p>חלק מתכונות השירות, הזמינות לשימוש באמצעות היישומון, הן "שירותים מבוססי מיקום" הנעזרים בטכנולוגייתGPS על-מנת
        לקבוע את מיקומך בעת השימוש ביישומן
        וגם כאשר אינך משתמש ביישומון, ולספק לך תוצאות חיפוש וכן להציג לך באופן יזום המלצות התואמות ככל הניתן למיקומך
        ולאזורים בהם אתה מרבה לשהות.</p>
    <p>לא ניתן לספק את השירותים הללו ללא הסכמתך לשימוש בטכנולוגיה זו ועל-כן בעצם התקנת היישומון והסכמתך למדיניות זו אלה
        אתה מסכים לשימוש זה. כמובן
        שאינך מחויב לספק למפעילת השירות מידע זה אודותיך ולפיכך תוכל בכל עת לבטל את האפשרות לזהות את מיקומך באמצעות
        היישומון, על-ידי ביטול תכונה זו
        בהגדרות מכשיר הקצה שברשותך (או על-ידי הסרת היישומון ממכשיר הקצה שברשותך). על-מנת לצפות בתוצאות חיפוש התואמות את
        מיקומך באמצעות האתר, יהיה עליך
        להקליד את כתובתך במקום המיועד לכך באתר, אם תבחר לעשות כן, לפי שיקול דעתך הבלעדי. במקרה זה תשמור מפעילת השירות את
        מידע זה.</p>
    <h2>מידע שנאסף במהלך השימוש בשירות</h2>
    <p>בעת שאתה משתמש בשירות, תאסוף מפעילת השירות מידע על נוהגיך ביחס לשימוש בשירות, לרבות תוכן שיצרת או פרסמת בשירות,
        מידע או פרסומות שקראת, העמודים
        שבהם צפית, שאילתות חיפוש שביצעת, השירותים שעניינו אותך ותכיפות השימוש בהם. כמו כן, נאסף מידע הנוגע למקום המחשב
        או מכשיר הקצה שלך ונתוני כתובת
        האינטרנט (IP address) שבאמצעותם ניגשת לשירות, סוג מערכת ההפעלה המשמשת אותך, סוג המכשיר הקצה שברשותך ומידע
        אודותיו, ועוד (להלן: "<strong>הרגלי השימוש</strong>"). בנוסף, מפעילת השירות רשאית לאסוף ולהסתייע בשירותיהם של
        צדדים שלישיים כדי לאסוף ולנתח מידע אנונימי, סטטיסטי, או מצרפי (אגרגטיבי) בקשר עם
        הרגלי השימוש בשירות, לרבות מידע הנוגע לפעילותך בשירות. מידע זה נאסף לרוב באופן אוטומטי ומאוחסן בקבצי 'לוג' של
        שרתי השירות.</p>
    <h2>מידע מהשירות שאתה משתף ברשתות חברתיות</h2>
    <p>מפעילת השירות מעמידה לרשותך כלים לשיתוף וקישור תכנים מהשירות באמצעות רשתות חברתיות ושירותים מקוונים של צדדים
        שלישיים, כגון פייסבוק. כמפורט
        לעיל, תשומת לבך כי השימוש ברשתות חברתיות כאמור הוא חיצוני ונפרד לשירות וכפוף לנוהגי הפרטיות של אותן רשתות
        חברתיות. מדיניות זו אינו חלה על
        פעילותן של רשתות חברתיות אלה.</p>
    <p>כאמור, השירות כולל גם מידע ותכנים הנמסרים לפרסום מטעם משתמשי השירות. מידע ותכנים אלה עשויים לכלול גם מידע אישי.
        דע כי התכנים והמידע שאתה טוען
        לאזורים הפומביים בשירות אינם פרטיים או חסויים וכי לא צריכה להיות לך כל ציפייה לפרטיות בנוגע אליהם.
        <strong>עליך לנקוט משנה זהירות ולהפעיל שיקול דעת בעת שהנך מוסר מידע שעלול לזהות אותך או אחרים ובמידת הצורך
            להימנע מכך</strong>.
    </p>
    <h2>השימוש במידע</h2>
    <p>ידוע לך, ואתה מסכים, כי נוכל לעשות שימוש במידע האישי ובמידע על הרגלי השימוש שלך בשירות בהתאם למדיניות זו, בין
        היתר, לצרכים הבאים:</p>
    <ul>
        <li>כדי לאפשר לך להשתמש בשירות ובתכנים הכלולים בו;</li>
        <li>כדי לזהות אותך במהלך כניסות חוזרות שלך לאזורים הטעונים הרשמה וכדי לחסוך ממך להזין בכל פעם את פרטיך;</li>
        <li>כדי לשפר ולהעשיר את השירותים והתכנים המוצעים בשירות ובכלל זה ליצור שירותים ותכנים חדשים המתאימים לדרישות
            המשתמשים וציפיותיהם וכן לשנות או
            לבטל שירותים ותכנים קיימים. המידע שישמש את מפעילת השירות לצורך כך יהיה בעיקרו מידע סטטיסטי, שאינו מזהה אותך
            אישית;</li>
        <li>כדי לאפשר לך להתאים את השירות להעדפותיך;</li>
        <li>כדי לשלוח אליך מעת לעת מידע בדבר השירות, סקרים, עלוני מידע, כמו גם מידע פרסומי ומידע בקשר עם מוצרים ושירותים
            של מפעילת השירות ושל צדדים
            שלישיים כגון מפרסמים. מידע כזה ישוגר אליך, ככל שהסכמת לכך מפורשות בהתאם להוראות סעיף 30א לחוק התקשורת (בזק
            ושירותים), התשמ"ב-1982, כמפורט
            בהרחבה <a href="https://BeautyS.co.il/terms">בתנאי השימוש</a> של השירות . תוכל לבטל את הסכמתך בכל עת ולחדול
            מקבלתם של דברי פרסומת באמצעות לחצן
            "הסר";</li>
        <li>ליצירת קשר איתך כשמפעילת השירות סבורה שקיים צורך בכך;</li>
        <li>לצורך ניתוח, בקרה ומסירת מידע סטטיסטי לצדדים שלישיים. מידע זה לא יזהה אותך אישית;</li>
        <li>לשם תפעולו התקין ופיתוחו של השירות;</li>
        <li>כדי לאכוף את <a href="https://BeautyS.co.il/terms">תנאי השימוש</a> בשירות, על-מנת למלא אחר דרישות כל חוק, תקנה
            או דבר חקיקה אחר וכן על-מנת
            לסייע לרשויות וערכאות מוסמכות, או לכל צד שלישי, כשמפעילת השירות סבורה בתום לב כי עליה לעשות כן;</li>
        <li>לכל מטרה אחרת, המפורטת במדיניות זו או <a href="https://BeautyS.co.il/terms">בתנאי השימוש</a> של השירות.</li>
    </ul>
    <h2>מסירת מידע לצדדים שלישיים</h2>
    <p>מפעילת השירות לא תעביר לצדדים שלישיים את המידע האישי שמסרת ואת המידע שנאסף על פעילותך בשירות, אלא במקרים המפורטים
        להלן - </p>
    <ul>
        <li>ככל שהדבר דרוש לצורך אספקה תקינה של השירות;</li>
        <li>אם תפר את הוראות המסמכים המחייבים, או אם תבצע באמצעות השירות, או בקשר עמו, פעולות הנחזות על ידי מפעילת
            השירות כמנוגדות לדין או ניסיון לבצע
            פעולות כאלה;</li>
        <li>אם יתקבל בידי מפעילת השירות צו שיפוטי, או דרישה של רשות המוסמכת לכך, המורה לה למסור את פרטיך או את המידע
            אודותיך לצד שלישי;</li>
        <li>בכל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים, אם יהיו, בינך לבין מפעילת השירות או מי מטעמה;</li>
        <li>בכל מקרה שמפעילת השירות תסבור כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של
            צד שלישי;</li>
        <li>לחברות או לארגונים אחרים הקשורים למפעילת השירות, דוגמת חברת-אם, חברה-בת וחברה אחות ובלבד שהם ישתמשו במידע זה
            רק על-פי הוראות מדיניות פרטיות
            זו;</li>
        <li>לצורך מסירת ושיתוף מידע אנונימי, מצרפי וסטטיסטי עם חברות או ארגונים אחרים הקשורים במפעילת השירות וכן עם
            ספקים, שותפים עסקיים, מפרסמים וכל
            צד שלישי. מפעילת השירות לא תחשוף בפני צדדים שלישיים אלה ביודעין את זהותך ללא הסכמתך;</li>
        <li>אם מפעילת השירות תארגן את פעילותה או את פעילות השירות במסגרת אחרת וכן במקרה שתשנה את המבנה המשפטי, או תתמזג
            עם גוף אחר, או תמזג את פעילות
            השירות עם פעילותו של צד שלישי - היא תהיה זכאית להעביר לגוף החדש העתק מן המידע שנאגר אודותיך במאגר המידע של
            מפעילת השירות ובלבד שגוף זה יקבל
            על עצמו כלפיך את הוראות מדיניות פרטיות זו;</li>
        <li>על-פי בקשתך המפורשת.</li>
        <li>שליחת תוכן שיווקי, ככל שהסכמת לכך.</li>
    </ul>
    <p>ככל שהועבר מידע לצד שלישי בהתאם למדיניות הפרטיות, למפעילת השירות לא תהיה כל חבות בכל הקשור לשימוש במידע זה על ידי
        הצד השלישי. </p>
    <h2>היכן נשמר המידע?</h2>
    <p>המידע שמפעילת השירות אוספת נשמר במאגר המידע הרשום שלה, המאוחסן אצל ספקי אירוח שרתים וגיבוי מידע, שעשויים להימצא
        גם מחוץ לגבולות ישראל. מידע
        נוסף, כפי שמפורט במדיניות זו, נאסף ונשמר על ידי חברות אחרות (כדוגמת חברות סטטיסטיקה וכיו"ב). אף הן יכולות לשמור
        את המידע מחוץ לגבולות המדינה.
        הסכמתך למדיניות זו מהווה גם הסכמה לשמירת המידע בחו"ל ולהעברתו מחוץ לגבולות ישראל.</p>
    <h2>Cookies</h2>
    <p>מפעילת השירות עשויה להשתמש באתר ב'עוגיות' (Cookies) לצורך תפעולו השוטף והתקין, לרבות כדי לאסוף נתונים סטטיסטיים
        אודות השימוש באתר, לאימות
        פרטים, כדי להתאים את האתר להעדפותיך האישיות, לצרכי אבטחת מידע ועוד.</p>
    <p>'עוגיות' (Cookies) הן קבצי טקסט, שהדפדפן שלך יוצר לפי פקודה ממחשבי האתר. חלק מהעוגיות יפקעו כאשר תסגור את הדפדפן
        ואחרות נשמרות על גבי הכונן
        הקשיח במכשיר הקצה המשמש אותך. ה-Cookies יכולות להכיל מידע מגוון כדוגמת הדפים שבהם ביקרת, משך הזמן ששהית באתר,
        מהיכן הגעת אל האתר, מידע שאתה מבקש
        לראות בעת הכניסה לשירות ועוד.</p>
    <p>אם אינך רוצה לקבל Cookies, תוכל להימנע מכך על ידי שינוי ההגדרות בדפדפן שלך. לשם כך נא היוועץ בקובץ העזרה של
        הדפדפן. זכור עם זאת, שנטרול העוגיות
        עלול לגרום לכך שלא תוכל להשתמש בחלק מהשירותים והתכונות באתר או באתרי אינטרנט אחרים. בנוסף לכך, אתה יכול למחוק את
        ה-Cookies במכשיר הקצה שלך בכל
        רגע. מוצע שתעשה כן, רק אם אתה משוכנע שאינך רוצה שהאתר יותאם להעדפותיך ובמקרה שאתה מעוניין שהאתר לא יזהה אותך
        בכניסות חוזרות למדורים בשירות
        הדורשים הרשמה.</p>
    <h2>אבטחת מידע</h2>
    <p>מפעילת השירות מייחסת חשיבות עליונה לאבטחת המידע במערכותיה. לשם שמירת המידע, היא מפעילה מערכות, יישומים ונהלים
        לאבטחת המידע, המיועדים למזער את
        הסיכונים מפני גניבה, פגיעה, אובדן או גישה בלתי מורשית למידע, בהתאם לקבוע בתקנות הגנת הפרטיות (אבטחת מידע),
        התשע"ז-2017.</p>
    <p>עם זאת, אין וודאות שיישומים אלה מבטיחים באופן מוחלט והרמטי שמידע אישי לא ייחשף, ייאבד או ייגנב ממאגרי המידע. לכן,
        מפעילת השירות אינה מתחייבת,
        ואינך יכול באופן סביר לצפות לכך, שהשירות ומערכות המידע המשמשות את מפעילת השירות יהיו חסינים מפני גישה
        בלתי-מורשית למידע המאוחסן בהם. בעצם השימוש
        בשירות, אתה מודע ומסכים למגבלות אלו.</p>
    <h2>זכות לעיין במידע</h2>
    <p>על-פי חוק הגנת הפרטיות, , כל אדם זכאי לעיין בעצמו, או על ידי בא-כוחו שהרשהו בכתב, או על ידי אפוטרופוס, במידע
        שעליו המוחזק במאגר מידע. אדם שעיין
        במידע שעליו ומצא שאינו נכון, שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע בבקשה לתקן את המידע או למחוק אותו.
        אם בעל המאגר סירב, עליו להודיע
        על כך למבקש באופן ובדרך שנקבעו בתקנות שמכוח חוק הגנת הפרטיות. על סירובו של בעל מאגר מידע לאפשר עיון ועל הודעת
        סירוב לתקן או למחוק מידע, רשאי
        מבקש המידע לערער באופן ובדרך שנקבעו בתקנות.</p>
    <p>שים לב כי מחיקת מידע עלולה למנוע ממך להמשיך ולהשתמש בשירות ולהביא לביטול רישומך לשירות. מידע הדרוש למפעילת השירות
        - לרבות תיעוד פעולות שביצעת
        בשירות - יוסיף להישמר על ידי מפעילת השירות על-פי דין, אך לא ישמש עוד לצורך פניות אליך. אם בתוך 30 יום לא תקבל
        הודעה כי המידע שנתבקשה מפעילת
        השירות למחוק אכן נמחק על-פי סעיף זה, תהיה זכאי לפנות לבית משפט באופן הקבוע בתקנות שמכוח חוק הגנת הפרטיות, כדי
        שיורה למפעילת השירות לפעול
        כאמור.</p>
    <h2>שינויים במדיניות הפרטיות</h2>
    <p>מפעילת השירות רשאית לשנות מעת לעת את הוראות מדיניות הפרטיות. במידת האפשר ואם יבוצעו במדיניות זו שינויים מהותיים,
        תפורסם על-כך הודעה בעמוד הבית
        של האתר ו/או בממשק היישומון. הקישור למדיניות הפרטיות המוצב בשירות יקשר תמיד לנוסח העדכני של המדיניות. המשך
        שימושך בשירות לאחר פרסום מדיניות
        הפרטיות המעודכנת, מעיד על הסכמתך לה. אם אינך מסכים עם ההוראות החדשות במדיניות הפרטיות, עלייך לחדול מלעשות כל
        שימוש בשירות.</p>
    <p>עודכן לאחרונה: 27/06/2022.</p>
</div>