<div class="container">
  <div class="goback" routerLink="/home">
    <div class="backicon">
      <img src="../../../../assets/GUI/arrow.png" alt="back" />
    </div>
    <div class="back">חזור</div>
  </div>
  <h1>BeautyS – מדיניות הפרטיות</h1>
  <h2>מהי מדיניות הפרטיות?</h2>
  <p>
    אתר משתמש ב"עוגיות" (Cookies )לצורך תפעולם השוטף והתקין, ובכלל זה כדי לאסוף
    נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, כדי להתאים את האתר
    להעדפותיך האישיות ולצורכי אבטחת מידע
  </p>
  <p>
    דפדפנים מודרניים כוללים אפשרות להימנע מקבלת Cookies .אם אינך יודע כיצד לעשות
    זאת, בדוק בקובץ העזרה של הדפדפן שבו אתה משתמש.
  </p>
  <h2>אבטחת מידע</h2>
  <p>
    החברה מיישמת באתריה מערכות ונהלים עדכניים לאבטחת מידע. בעוד שמערכות ונהלים
    אלה מצמצמים את הסיכונים לחדירה בלתי-מורשית, אין הם מעניקים בטחון מוחלט. לכן,
    החברה לא מתחייבת ששירותיה יהיו חסינים באופן מוחלט מפני גישה בלתי-מורשית
    למידע המאוחסן בהם.
  </p>
</div>
