.fullpage {
    max-width: 1551px;
    margin: 0 10%;
    background-image: url('../../../assets/GUI/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 90vh;
    .top {}

    .bottom {
        .category {
            margin: 0 auto;

            .categoryitem{
                background-color: white;
                max-width: 80%;
            }
        }

        .all-business {
            display: flex;
            gap: 12px;
            padding-bottom: 10px;
            flex-wrap: wrap;
            align-content: center;

            .business,
            .preloader {
                max-width: 371px;
            }

        }

    }
}
@media screen and (max-width:600px) {
    .fullpage{
        margin: 0px;
        .all-business{
            justify-content: center;
        }
    }
    
}