<div class="fullpage">
    <div class="top" [style.background]="background">
        <div class="search">
            <input type="text" placeholder="הקלידו שם העיר" [(ngModel)]="bcitytype">
        </div>
    </div>
    <div class="bottom">
        <div class="result">תוצאות חיפוש: {{ititle}}</div>
        <div class="all-business">
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="business" *ngFor="let item of businessData">
                <div *ngIf="city(item.bcity)">
                    <app-business-card id="{{item.bid}}" bname="{{item.bname}}" blogo="{{item.blogo}}"
                        bsubject="{{item.bsubject}}" baddress="{{item.baddress}}" bcity="{{item.bcity}}"
                        blikes="{{item.blikes}}" bviews="{{item.bviews}}"></app-business-card>
                </div>
            </div>
        </div>
    </div>
</div>