<div class="fullpage">
    <div class="top">
    </div>
    <div class="bottom">
        <div class="category" [style.display]="categoryhide">
            <div class="categoryitem" [style.display]="displaybusinessDataHair">
                <div class="title">מספרות</div>
                <div class="subtitle">0 מקומות</div>
            </div>

        </div>
        <div class="all-business" [style.display]="categoryshow">
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="preloader" *ngIf="load">
                <app-business-card-preloader></app-business-card-preloader>
            </div>
            <div class="business" *ngFor="let item of businessData">
                <div *ngIf="city(item.bcity)">
                    <app-business-card id="{{item.bid}}" bname="{{item.bname}}" blogo="{{item.blogo}}"
                        bsubject="{{item.bsubject}}" baddress="{{item.baddress}}" bcity="{{item.bcity}}"
                        blikes="{{item.blikes}}" bviews="{{item.bviews}}"></app-business-card>
                </div>
            </div>
        </div>
    </div>
</div>