.top {
    background: linear-gradient(90deg, #6a18c7, #9d69da);

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
        input {
            border-radius: 40px;
            background-color: rgba(255, 255, 255, 0.203);
            color: white;
            border: none;
            width: 90%;
            padding: 13px 16px;

            &:focus,
            &:focus-visible {
                outline: none !important;
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.579);
            }
        }
    }

}

.bottom {
    position: relative;
    .empty{
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50% ,50%);
        text-align: center;
    }
    .all-business {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .business {
            max-width: 500px;
            width: 100%;
            margin: 5px 16px;

            .cardR {
                padding: 16px 16px;
                background-color: white;
                margin: 16px 0px 0px 0px;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgba(186, 177, 177, 0.37);
                width: 100%;
                position: relative;

                .cardtop {
                    display: flex;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(186, 177, 177, 0.37);

                    .logo {
                        margin-left: 15px;

                        img {
                            width: 70px;
                            border-radius: 50%;
                            outline: 1px solid rgb(197, 197, 197, 0.3);
                        }
                    }

                    .content {
                        line-height: normal;

                        .bname {
                            font-size: 20px;
                        }
                    }
                }

                .bottom {
                    display: flex;
                    gap: 20px;
                }

                .like {
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    .icon {}
                }
            }
        }
    }
}