.full{
    margin: 0 0 60px 0;
    background-image: url('../../../assets/GUI/home-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}