.cardR {
    width: 400px;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
    transition: 0.3s;
    position: relative;

    .cardtop {
        position: relative;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.95);
        }

        .bsubject {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #ebf7fd;
            padding: 3px 7px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
            outline: #5cc0eb49 2px solid;
            color: #23abe4;
        }

        .content {
            padding: 10px;

            .bname {
                z-index: 2;
                width: 100%;
                font-size: 17px;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .baddress-bcity {
                color: #202125a3;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .bottom {
        display: flex;
        color: #202125a3;
        border-top: 0.0625rem dashed rgba(32, 33, 37, 0.12);
        padding: 5px 10px;
        gap: 10px;

    }

    &:hover {
        transform: scale(0.97);
        box-shadow: rgb(0 0 0 / 4%) 0px 0px 0.375rem, rgb(0 0 0 / 8%) 0px 0.125rem 0.375rem;
    }
}


@media screen and (max-width:786px) {
    .cardR {
        max-width: 43vw;

        .cardtop {
            img {
                height: 67px;
            }
        }

        .bsubject {
            padding: 2px 5px;
            border-radius: 6px;
            font-size: 8px;
        }

        .content {
            .bname {
                font-size: 13px !important;
            }

            .baddress-bcity {
                font-size: 10px !important;

            }
        }

        .bottom {
            font-size: 10px !important;
        }
    }
}