<div class="fullpage">
  <div class="col">
    <div class="edit">
      <div class="goback" routerLink="../">
        <div class="backicon">
          <img src="../../../../assets/GUI/arrow.png" alt="back" />
        </div>
        <div class="back">חזור</div>
      </div>
      <div class="hello">צור קשר</div>
      <form (ngSubmit)="contactus()" ngNativeValidate>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            placeholder="דואר אלקטרוני"
            [(ngModel)]="contact.useremail"
            name="email"
            required
          />
          <label>דואר אלקטרוני</label>
        </div>
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            placeholder="פלאפון"
            [(ngModel)]="contact.userphone"
            name="phone"
            required
          />

          <label>פלאפון</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="תיאור קצר"
            [(ngModel)]="contact.usertext"
            name="bdescriptions"
            required
          ></textarea>
          <label>תיאור קצר</label>
        </div>
        <input type="submit" class="btn" value="שלח" />
      </form>
    </div>
  </div>
  <div class="col img">
    <img src="../../../../assets/GUI/air.png" alt="air" />
  </div>
</div>
