<div class="fullpage">
    <div class="col">
        <div class="edit">
            <div class="goback" routerLink="../">
                <div class="backicon">
                    <img src="../../../../assets/GUI/arrow.png" alt="back">
                </div>
                <div class="back">חזור</div>
            </div>
            <div class="hello">צור קשר</div>
            <form (ngSubmit)="contactus()">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="דואר אלקטרוני" [(ngModel)]='contact.useremail'
                        name="email">
                        <p class="error" [style.display]="displaycontacterrors"
                            *ngIf="contact.useremail==undefined || contact.useremail=='' ">
                            שדה חובה
                        </p>
                        <label>דואר אלקטרוני</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="פלאפון" [(ngModel)]='contact.userphone'
                        name="phone">
                        <p class="error" [style.display]="displaycontacterrors"
                            *ngIf="contact.userphone==undefined || contact.userphone=='' ">
                            שדה חובה
                        </p>
                        <label>פלאפון</label>

                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="תיאור קצר" [(ngModel)]='contact.usertext'
                        name="bdescriptions"></textarea>
                        <p class="error" [style.display]="displaycontacterrors"
                            *ngIf="contact.usertext==undefined || contact.usertext=='' ">
                            שדה חובה
                        </p>
                        <label>תיאור קצר</label>
                </div>
                <input type="submit" class="btn" value="שלח" />
            </form>
        </div>
    </div>
    <div class="col img">
        <img src="../../../../assets/GUI/air.png" alt="air">
    </div>
</div>