<div class="fullpage" *ngIf="blogdata as item">
    <div class="top" [style.background]="blogo">
        <div class="right">
            <h1 class="title">{{item.btitle}}</h1>
            <h2 class="subtutle">{{item.bsubtitle}}</h2>
        </div>
    </div>
    <div class="all">
        <div class="blogs">
            <div class="data">
                <div class="read">{{readTime}}</div>
                <div class="date">{{item.createdate}}</div>
            </div>
            <div class="content">{{item.bcontent}}</div>
        </div>
    </div>
</div>
