<div class="full">
  
  <div class="top">
    <div class="right">
      <h1 class="title">
        מכוני היופי<br />
        של ישראל
      </h1>
      <h2 class="subtitle">חפש את העסק המתאים לך</h2>
      <div class="btnoff" routerLink="/home">התחל במסע</div>
      <div class="btnoff" routerLink="/user-dashboard">התחבר ופתח את העסק שלך</div>
    </div>
  </div>
  <div class="content">
    <div class="title">קצת עלינו</div>
    <div class="text">
      אנחנו ב-ביוטיס שמים את העסק שלך במרכז עם מגוון רחב של כלים ויכולות ,
      ביוטיס תעשה לעסק שלך חיים קלים יותר. המערכת המתקדמת שלנו תחסוך
 שעות יקרות ותעזור לך לנצל את הזמן שלך בצורה טובה יותר. מערכת שיווק ופרסום דיגיטלי ללא עלות וללא התחייבות 
 בנוסף תוכל לפרסם מחירים ותמונות מהעסק כך תוכל להגיע לקהל חדש של לקוחות וליומן מלא!
    </div>
  </div>
  <div class="cardb">
    <img src="../../../assets/blog/blue.jpg" alt="" />
    <div class="col">
      <div class="title">גורמת לעסק שלך להרוויח</div>
      <div class="text">
        התרכזו בלקוחות שלכם ותנו לנו לעסוק בשיווק שוטף. נרוויח לכם זמן יקר
        ונייצר לכם הכנסה נוספת, הגיע הזמן!
      </div>
      <div class="title">מתקדמת טכנולוגית אך קלה</div>
      <div class="text">
        פותחה במיוחד עבורכם, הספרים והקוסמטיקאיות, עם דגש על קלות שימוש ונוחות
        הפעלה.
      </div>
      <div class="title">ניהול העסק ישירות מהנייד</div>
      <div class="text">
        זמינה לשימוש מכל מכשיר שבידיכם. לא בעסק? יצאת לחופש? מעסיק עובדים ורוצה
        ראש שקט? נהל את הפעילות בשלט רחוק ביעילות ובפשטות.
      </div>
    </div>
  </div>
  <div class="q">
    ידעת ש...<br />
    שהכל כולל הכל בחינם וללא מטרות רווח, אז תירשמו ותתנו לעסר שלכם להתחיל במסע
  </div>
  <div class="phone">
    <div class="e"></div>
    <div class="pcontent">
      <div class="title">לא הורדת את האפליקצה?</div>
      <div class="phonecontent">
        הורידו עכשיו את האפליקציה של ביוטיס ואנחנו נדאג שתמיד אבל תמיד תהיה לכם
        את כל המידע כל העסקים הטובים ביותר שקרובים עליכם
      </div>
      <div class="google">
        <img src="../../../assets/GUI/android.png" alt="android" />
        <img src="../../../assets/GUI/appstore.png" alt="appstore" />
      </div>
    </div>
  </div>
</div>
