<div class="cardR">
    <div class="cardtop">
        <img src="{{blogo}}" />
        <div class="bsubject">{{bsubject}}</div>
        <div class="content">
            <div class="bname">{{bname}}</div>
            <div class="baddress-bcity">{{baddress}}, {{bcity}}</div>
        </div>
    </div>
    <div class="bottom">
        <div class="blike">{{blikes}} לייקים</div>
        <div class="bviews">{{bviews}} ביקרו פה החודש</div>
    </div>
    <div class="manage">
        <div (click)="remove(id)" class="remove">מחיקה</div>
        <div class="view" routerLinkActive="active-link" [routerLink]="['/business/',id]">הצגה</div>
        <div [routerLink]="['/user-dashboard/manage/',id]" class="edit">עריכה</div>
    </div>
    
</div>