

.fullpage {
    padding: 20px 16px 50px 16px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    margin: 50px auto 150px auto;
    .col {
        width: 50%;
        .login-group {
            .conditions {
                margin-bottom: 5px;
                margin-right: 5px;
                label {
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
            .forgut-password {
                text-align: left;
            }
        }
    }
    .img,.air {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img {
            width: 100%;
        }
    }
}
.air{
    width: 50% !important;
    img {
        width: 50% !important;
    }
}
.hello {
    font-weight: bold;
    text-align: right;
    font-size: 45px;

    .new {
        font-size: 17px;
    }
}

.forget,
.register {
    position: absolute;
    padding: 0px 16px 16px 16px;
    z-index: 99;
    background-color: white;
    width: 50%;
    max-width: 100%;
    transition: 0.5s;
    right: 0;
    transform: translateX(100vw);
    form {
        width: 100%;
    }
}

.back,.new,.forgut-password{
    cursor: pointer;
}
.col.img.mobile{
    display: none;
}
@media screen and (max-width:600px) {
    .fullpage {
        flex-direction: column-reverse;
        padding: 0px 16px 50px 16px;
        .col {
            width: 100%;

            .forget,
            .register {
                width: 100%;
            }
        }
        .img {
            width: 100px ;
            height: 100px;
            border-radius: 50%;
            img {
                width: 50%;
            }

        }
        .hello {
            font-size: 30px;
        }
    }
    .col.air {
        display: none !important;
    }
    .col.img.mobile{
        display: flex;
        img{
            width: 100% !important;
        }
    }
}

.forget {
    position: absolute;
    z-index: 99;
    background-color: white;
    height: 90%;
    width: 50%;
    max-width: 100%;
    transition: 0.5s;
    right: 0;

    form {
        width: 100%;
    }
}

.loginerror{
    color: red;
}
