<div class="fullpage">
  <div class="col">
    <!--forget -->
    <div class="forget" [style.transform]="forget">
      <div class="goback" (click)="hideForget()">
        <div class="backicon">
          <img src="../../../../assets/GUI/arrow.png" alt="back" />
        </div>
        <div class="back" (click)="hideForget()">אוי רגע נזכרתי תחזיר אותי</div>
      </div>
      <div class="hello">שחכתי סיסמא</div>
      <form (ngSubmit)="forgetpassowrd()" ngNativeValidate>
        <div class="form-floating">
          <input
            required
            type="email"
            class="form-control"
            placeholder="דואר אלקטרוני"
            [(ngModel)]="userforget.useremail"
            name="email"
          />
          <label>דואר אלקטרוני</label>
        </div>
        <input type="submit" class="btn" value="שלח שחזור סיסמא" />
      </form>
    </div>
    <!--register -->
    <div class="register" [style.transform]="register">
      <div class="goback" (click)="hideregister()">
        <div class="backicon">
          <img src="../../../../assets/GUI/arrow.png" alt="back" />
        </div>
        <div class="back" (click)="hideregister()">אני כבר רשום תחזיר אותי</div>
      </div>
      <div class="hello">יאללה מתחילים</div>
      <form class="steps" ngNativeValidate>
        <div [style.margin-top]="moveup" class="step first">
          <div class="form-floating">
            <input
              required
              type="email"
              class="form-control"
              placeholder="דואר אלקטרוני"
              [(ngModel)]="user.useremail"
              name="email"
            />

            <label>דואר אלקטרוני</label>
          </div>
          <div class="form-floating">
            <input
              required
              type="text"
              class="form-control"
              placeholder="שם פרטי"
              [(ngModel)]="user.userfname"
              name="firstname"
            />

            <label>שם פרטי</label>
          </div>
          <div class="form-floating">
            <input
              required
              type="text"
              class="form-control"
              placeholder="שם משפחה"
              [(ngModel)]="user.userlname"
              name="lastname"
            />

            <label>שם משפחה</label>
          </div>
          <div class="form-floating">
            <input
              required
              type="password"
              class="form-control"
              placeholder="סיסמא"
              [(ngModel)]="user.userpassword"
              name="password"
            />

            <label>סיסמא</label>
          </div>
          <div class="form-floating">
            <input
              required
              type="text"
              class="form-control"
              placeholder="פלאפון"
              [(ngModel)]="user.userphone"
              name="phone"
            />

            <label>פלאפון</label>
          </div>
        </div>
        <input type="submit" class="btn" (click)="signup()" value="הרשמה" />
      </form>
    </div>
    <!--login -->
    <div class="profile-image"></div>
    <div class="hello">
      התחבר
      <a class="new" (click)="showregister()">חדש כאן?<span> הירשם</span></a>
    </div>
    <div class="loginerror server">{{ errorlogin }}</div>

    <form (ngSubmit)="login()" class="login-group" ngNativeValidate>
      <div class="form-floating">
        <input
          required
          type="email"
          class="form-control"
          placeholder="דואר אלקטרוני"
          [(ngModel)]="userlogin.useremail"
          name="email"
        />
        <label>דואר אלקטרוני</label>
      </div>
      <div class="form-floating">
        <input
          required
          type="password"
          class="form-control"
          placeholder="סיסמא"
          [(ngModel)]="userlogin.userpassword"
          name="password"
        />
        <label>סיסמא</label>
      </div>
      <div class="conditions">
        <input
          required
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label  class="form-check-label" for="flexCheckDefault"> אני מסכימ/ה ל<a routerLink="/terms" style="margin: 0 0 0 5px;">תקנון</a>ומאשר/ת דיוור וקבלת תוכן פרסומי</label
        >
      </div>

      <input type="submit" class="btn" value="התחבר" />
      <div class="forgut-password" (click)="showForget()">שחכתי סיסמא</div>
    </form>
  </div>
  <div class="col air">
    <img src="../../../../assets/GUI/air.png" alt="login" />
  </div>
  <div class="col img mobile">
    <img src="../../../../assets/GUI/login.png" alt="login" />
  </div>
</div>
