<div class="row">
    <div class="col-md-4">
        <div class="profile-image"></div>
        <div class="title">התחבר</div>
        <form (ngSubmit)="login()" class="login-group">
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input 
                type="text" 
                class="form-control" 
                placeholder="דואר אלקטרוני"   
                [(ngModel)]='userlogin.useremail' 
                name="email"
                required>
            </div>
            <p class="loginerror" [style.display]="displyloginerrors" *ngIf="userlogin.useremail==undefined || userlogin.useremail=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input 
                type="text"
                class="form-control" 
                placeholder="סיסמא" 
                [(ngModel)]='userlogin.userpassword' 
                name="password"
                #userpassword="ngModel"
                required>
            </div>
            <p class="loginerror" [style.display]="displyloginerrors" *ngIf="userlogin.userpassword==undefined || userlogin.userpassword=='' ">
                שדה חובה
            </p>
            
            <a class="forgut-password">שחכתי סיסמא</a>
            
            <input type="submit" class="login" value="התחבר" />
            <div class="loginerror server">{{errorlogin}}</div>
            

        </form>
        <div class="conditions">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">אני מסכים ל<a routerLink="/terms">תנאים</a> ול<a routerLink="/privacy">חוקי הפרטיות</a> באתר</label>
                
        </div>
        <a class="new" (click)="show()">חדש כאן?<span> הירשם</span></a>
    </div>
    <div class="col">

    </div>
</div>

<div [style.display]="displayPopup" class="popup">
    <div class="signup-pop">
        <div class="nav">
            <div class="exit" (click)="hidePopup()">X</div>
            <div class="back" (click)="backStep()" [style.display]="displayStep">חזור</div>
        </div>
        
        <div class="title">יאללה מתחילים </div>
        
        <form class="steps">
            <div [style.margin-top]="moveup" class="step first">
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="דואר אלקטרוני" [(ngModel)]="user.useremail"
                        name="email">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.useremail==undefined || user.useremail=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="שם פרטי" [(ngModel)]="user.userfname"
                        name="firstname">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userfname==undefined || user.userfname=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="שם משפחה" [(ngModel)]="user.userlname"
                        name="lastname">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userlname==undefined || user.userlname=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="password" class="form-control" placeholder="סיסמא" [(ngModel)]="user.userpassword"
                        name="password">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userpassword==undefined || user.userpassword=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="password" class="form-control" placeholder="סיסמא שנית">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userpassword==undefined || user.userpassword=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="פלאפון" [(ngModel)]="user.userphone"
                        name="phone">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userphone==undefined || user.userphone=='' ">
                    שדה חובה
                </p>
                <button class="next-step" (click)="onClickmoveup()">המשך</button>
            </div>
            <div class="step sec">
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <select class="form-select" 
                    aria-label="Default select example"
                    id="usergender"
                    name="usergender"
                    aria-placeholder="חד קרן"
                    [(ngModel)]="user.usergender">
                    <option value="1">זכר</option>
                    <option value="2">נקבה</option>
                    </select>
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.usergender==undefined || user.usergender=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input type="text" class="form-control" placeholder="עיר" [(ngModel)]="user.usercity"
                        name="usercity">
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.usercity==undefined || user.usercity=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <span class="input-group-text"></span>
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="כתובת" 
                    [(ngModel)]="user.useraddress"
                    name="useraddress"
                    required>
                </div>
                <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.useraddress==undefined || user.useraddress=='' ">
                    שדה חובה
                </p>
                <input type="submit" class="end-step" (click)="signup()" value="הרשמה" />
            </div>
        </form>
    </div>
</div>