.photo {
    width: 90px;
    height: 120px;
    background-position: center !important;
    background-size: cover !important;
}

.remove {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}