$base-color: #6a18c7;
$first-color: #eeeeee;
$sec-color: #393E46;
$sec-small-color: #c9c9c9;
$box-shadow: 0 10px 10px #fd711425;

.fullpage {

    .user-dashboard {
        margin: 20px 50px;
        background: white;
        padding: 27px;
        max-width: 600px;
        margin: 10vh auto;
        .top {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid $sec-color;

            .profile-image {
                width: 100px;
                height: 100px;
                background-image: url(/assets/bs.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 28px;
                margin-left: 20px;
            }

        }
        .bottom{
            .nav-link{
                width: 100%;
                background: rgb(230, 230, 230);
                color: black;
                border-bottom: 1px solid rgba(0, 0, 0, 0.338);
                &:hover{
                    background: rgb(194, 194, 194);
                }
            }
        }
    }

}