<div class="gender">
    <div class="women">
        <div class="text">בלה בלה בלה בלה בלה בלה</div>
        <div class="subtext">בלה בלה בלה בלה בלה בלה</div>
        <app-button  (click)="goToHomeFemale()" background="linear-gradient(90deg, #6a18c7, #9d69da)" color="white" value="אישה" padding="8px 0px"></app-button>
    </div>
    <div class="men">
        <div class="text">בלה בלה בלה בלה בלה בלה</div>
        <div class="subtext">בלה בלה בלה בלה בלה בלה</div>
        <app-button  (click)="goToHomeMale()" background="black" color="white" value="גבר" padding="8px 0px"></app-button>

    </div>
</div>