.full{
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 999999;
    .top{
        background-image: url(/assets/homebg.jpg);
        background-position: bottom;
        background-size: cover;    
        height: 50vh;
        margin-bottom: -40px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        padding: 50px 10% 100px;
        background-color: white;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 0 200px rgba(108, 108, 108, 0.423);
        .title{
            font-size: 30px;
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
        .subtitle{
            margin-bottom: 20px;
            padding: 0px;
        }
        app-button{
            margin-bottom: 10px;
        }
    }

}