<div class="full">
    <div class="top"></div>
    <div class="bottom">
        <div class="title">ביוטיס<br>מנוע חיפוש של מכוני יופי</div>
        <div class="subtitle">אנחנו כבר מתאימים בשבילך את העסקים והבלוגים</div>
        <app-button  (click)="goToHomeFemale()" background="linear-gradient(90deg, #6a18c7, #9d69da)" color="white" value="אישה" padding="8px 0px" ></app-button>
        <app-button  (click)="goToHomeMale()" background="linear-gradient(90deg, #6a18c7, #9d69da)" color="white" value="גבר" padding="8px 0px" ></app-button>

    </div>
</div>