<div class="fullpage">
    <div class="user-dashboard">
        <form (ngSubmit)="edit()" class="createform">
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="שם פרטי" [(ngModel)]="user.userfname"
                    name="firstname">
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userfname==undefined || user.userfname=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="שם משפחה" [(ngModel)]="user.userlname"
                    name="lastname">
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userlname==undefined || user.userlname=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <select class="form-select" 
                aria-label="Default select example"
                id="usergender"
                name="usergender"
                aria-placeholder="חד קרן"
                [(ngModel)]="user.usergender">
                <option value="male">זכר</option>
                <option value="female">נקבה</option>
                </select>
                <div class="label">מין</div>
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.usergender==undefined || user.usergender=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="עיר" [(ngModel)]="user.usercity"
                    name="usercity">
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.usercity==undefined || user.usercity=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input 
                type="text" 
                class="form-control" 
                placeholder="כתובת" 
                [(ngModel)]="user.useraddress"
                name="useraddress"
                required>
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.useraddress==undefined || user.useraddress=='' ">
                שדה חובה
            </p>
            <div class="input-group mb-3">
                <span class="input-group-text"></span>
                <input type="text" class="form-control" placeholder="פלאפון" [(ngModel)]="user.userphone"
                    name="phone">
            </div>
            <p class="loginerror" [style.display]="displysignuperrors" *ngIf="user.userphone==undefined || user.userphone=='' ">
                שדה חובה
            </p>    
            <input type="submit" class="create" value="עריכת משתמש" />
        </form>
    </div>
</div>