<div class="fullpage">
  <div class="col">
    <div class="edit">
      <div class="goback" routerLink="../">
        <div class="backicon">
          <img src="../../../../assets/GUI/arrow.png" alt="back" />
        </div>
        <div class="back">חזור</div>
      </div>
      <div class="hello">עריכת משתמש</div>
      <form (ngSubmit)="edit()" class="createform" ngNativeValidate>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.userfname"
            name="firstname"
            placeholder="פרטי"
            required
          />
          <label>שם פרטי</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.userlname"
            name="lastname"
            placeholder="משפחה"
            required
          />

          <label>שם משפחה</label>
        </div>

        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="user.userphone"
            name="phone"
            id="phone"
            placeholder="פלאפון"
            required
          />
          <label for="phone">פלאפון</label>
        </div>

        <input type="submit" class="btn" value="עריכת משתמש" />
      </form>
    </div>
  </div>
  <div class="col img">
    <img src="../../../../assets/GUI/air.png" alt="air" />
  </div>
</div>
