
<div class="fullpage">
    <div class="col">
        <div class="edit">
            <div class="goback" routerLink="../">
                <div class="backicon">
                    <img src="../../../../assets/GUI/arrow.png" alt="back">
                </div>
                <div class="back">חזור</div>
            </div>
            <div class="hello">עריכת משתמש</div>
            <form (ngSubmit)="edit()" class="createform">
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="user.userfname" name="firstname"
                        placeholder="פרטי">
                    <label>שם פרטי</label>
                    <p class="error" [style.display]="displysignuperrors"
                        *ngIf="user.userfname==undefined || user.userfname=='' ">
                        שדה חובה
                    </p>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="user.userlname" name="lastname"
                        placeholder="משפחה">
                    <p class="error" [style.display]="displysignuperrors"
                        *ngIf="user.userlname==undefined || user.userlname=='' ">
                        שדה חובה
                    </p>
                    <label>שם משפחה</label>
                </div>


                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="user.userphone" name="phone" id="phone"
                        placeholder="פלאפון">
                    <label for="phone">פלאפון</label>
                    <p class="error" [style.display]="displysignuperrors"
                        *ngIf="user.userphone==undefined || user.userphone=='' ">
                        שדה חובה
                    </p>
                </div>

                <input type="submit" class="btn" value="עריכת משתמש" />
            </form>
        </div>
    </div>
    <div class="col img">
        <img src="../../../../assets/GUI/air.png" alt="air">
    </div>
</div>