<div class="fullpage" *ngIf="data as item">
    <i id="gender" class="{{male ? 'fas fa-mars' : 'none' }}"></i>
    <i id="gender" class="{{female ? 'fas fa-venus' : 'none' }}"></i>
    <i id="gender" class="{{uni ? 'fas fa-venus' : 'none' }}"></i>
    <div class="contact-icons">
        <a class="icon" href="tel:+{{item.bphone}}" [style.background]="background">
            <i class="fas fa-phone"></i>
        </a>
        <div class="logo">
            <img src={{item.blogo}}>
        </div>
        <a class="icon" href="{{item.instegram}}" [style.background]="background">
            <img class="instegram" src="/assets/instegram.webp">
        </a>
    </div>
    <div class="topcontent">
        <div class="bname">{{item.bname}}</div>
        <div class="bsubject">{{item.bsubject}}</div>
        <div class="baddress-bcity">{{item.baddress}}, {{item.bcity}}</div>
    </div>
    <div class="bdescriptions">{{item.bdescriptions}}</div>

    <div class="photos">
        <div class="photo" *ngFor="let photo of photos">
            <app-photo buid={{buid}} url="{{photo.url}}" pid="{{photo.pid}}"></app-photo>
        </div>
        <div class="addphoto" *ngIf="uid == buid">
            <div class="text">הוסף תמונה</div><input type="file" (change)="onFileSelected($event)"
                id="inputGroupFile03">
        </div>
    </div>

    <div class="prices">
        <div class="top">
            <div class="title">מחירון</div>
            <div class="edit" (click)="editpricedisplay=='block' ? editpricedisplay='none' : editpricedisplay='block'" *ngIf="uid == buid">עריכה</div>
            <div class="add" (click)="addpricedisplay=='block' ? addpricedisplay='none' : addpricedisplay='block'" *ngIf="uid == buid">הוספה</div>
        </div>
        <div class="content" *ngFor="let price of prices">
            <div class="line">
                <div class="service">
                    {{price.service}}
                </div>
                <div class="remove"  *ngIf="uid == buid" (click)="removeprice(price.pid)">מחיקה</div>
                <div class="serviceprice">
                    {{price.price}}
                </div>
            </div>
            <div class="add-price" [style.display]="editpricedisplay" *ngIf="uid == buid">
                <form (ngSubmit)="editprice(price.pid)">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="שירות" [(ngModel)]='priceCreate.service'
                            name="service" required>
                    </div>
                    <p class="priceserror" [style.display]="priceserror"
                        *ngIf="priceCreate.service==undefined || priceCreate.service=='' ">
                        שדה חובה
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="מחיר" [(ngModel)]='priceCreate.price'
                            name="price" required>
                    </div>

                    <p class="priceserror" [style.display]="priceserror" *ngIf="priceCreate.price==undefined ">
                        שדה חובה
                    </p>
                    <input type="submit" class="create" value="שינוי מחיר" [style.background]="background" />

                </form>
            </div>
        </div>
        <div class="add-price" [style.display]="addpricedisplay" *ngIf="uid == buid">
            <form (ngSubmit)="addprice()">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="שירות" [(ngModel)]='priceCreate.service'
                        name="service" required>
                </div>
                <p class="priceserror" [style.display]="priceserror"
                    *ngIf="priceCreate.service==undefined || priceCreate.service=='' ">
                    שדה חובה
                </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="מחיר" [(ngModel)]='priceCreate.price'
                        name="price" required>
                </div>

                <p class="priceserror" [style.display]="priceserror" *ngIf="priceCreate.price==undefined ">
                    שדה חובה
                </p>
                <input type="submit" class="create" value="פרסם מחיר" [style.background]="background" />

            </form>
        </div>
    </div>

    <div class="reviews">
        <div class="top">
            <div class="title">ביקורות</div>
            <a class="add" [style.color]="color">הוספת ביקורת</a>

        </div>
        <div class="content" *ngFor="let review of reviews">
            <div class="user">
                {{review.userfname}} {{review.userlname}}
            </div>
            <div class="reviewtext">
                {{review.reviewtext}}
            </div>
            <div class="reviewdate">
                {{review.reviewdate}}
            </div>
        </div>
        <div class="add-reviews">
            <form (ngSubmit)="add()">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="ביקורות" [(ngModel)]='reviewCreate.reviewtext'
                        name="reviewText" required>
                </div>
                <p class="reviewserror" [style.display]="reviewserror"
                    *ngIf="reviewCreate.reviewtext==undefined || reviewCreate.reviewtext=='' ">
                    שדה חובה
                </p>
                <input type="submit" class="create" value="פרסם ביקורת" [style.background]="background" />

            </form>
        </div>
    </div>
    <app-report></app-report>
</div>