<div class="fullpage" *ngIf="data.business[0] as item">
    <div class="topcontent">
        <div class="logo">
            <img src={{item.blogo}}>
        </div>
        <div class="bname">{{item.bname}}</div>
        <div class="bsubject">{{item.bsubject}}</div>
        <div class="baddress-bcity">{{item.baddress}}, {{item.bcity}}</div>
    </div>
    <div class="contact-icons">
        <div class="icon">
            <img src="/assets/errorpage.jpg" alt="">
        </div>
        <div class="icon">
            <img src="/assets/errorpage.jpg" alt="">
        </div>
        <div class="icon">
            <img src="/assets/errorpage.jpg" alt="">
        </div>
        <div class="icon">
            <img src="/assets/errorpage.jpg" alt="">
        </div>
    </div>
    
    <div class="bdescriptions">{{item.bdescriptions}}</div>
    <div class="reviews">
        <div class="top">               
            <div class="title">ביקורות</div>
            <a class="add">הוספת ביקורת</a>
        </div>
        <div class="content">
            
        </div>
        <div class="add-reviews">
            <form action=""></form>
        </div>
    </div>
</div>