$base-color: #6a18c7;
$first-color: #eeeeee;
$sec-color: #393E46;
$sec-small-color: #c9c9c9;
$box-shadow: 0 5px 20px #cccccc;

.fullpage{
    position: relative;
    line-height: 1rem;
    #gender{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }
    .topcontent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        flex-direction: column;
        .bname{
            margin-top: 5px;
            font-size: 20px;
            font-weight: bold;
        }
        .baddress-bcity{
            color: gray;
        }
        
    }
    .contact-icons{
        display: flex;
        gap: 14px;
        padding: 8px 0px;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-image: url(/assets/bg.png);
        background-position: center;
        background-size: cover;
        margin-bottom: 35px;
        .logo{
            transform: translateY(50px);
            margin-top: 50px;
            img{
                width: 90px;
                height: 90px;
                outline: 6px solid rgba(255,255,255);
                border-radius: 50%;
                box-shadow: $box-shadow;

            }
        }
        .icon{
            transform: translateY(80px);
            width: 35px;
            height: 35px;
            background-color: $base-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            box-shadow: $box-shadow;
            justify-content: center;
            outline: 3px solid rgba(255,255,255);
            transition: 0.5s;
            cursor: pointer;
            text-decoration: none;
            i{
                color: white;
            }
            .instegram{
                filter: invert(1);
                width: 50%;
            }
            &:hover{
                background-color: black;
            }
        }
    }
    .sharepopup{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        padding: 10px 20px;
        display: flex;
        gap: 20px;
        box-shadow: 0px 10px 300px black;
        border-radius: 10px;
        z-index: 999;
        outline: 1000px solid rgba(0, 0, 0,0.2);
        .exit{
            position: absolute;
            top: 00%;
            left: 50%;
            transform: translate(-50%,-100%);
            font-size: 30px;
            padding: 10px;
            background-color: white;
            cursor: pointer;
            border-radius: 10px 10px 0 0 ;
        }
        .icon{
            width: 40px;
            cursor: pointer;
            padding: 5px;
        }
        .copy{
            width: 200px;
            text-align: center;
        }
    }
    .bdescriptions{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
    }
    .photos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 20px;
        .addphoto{
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            transition: 0.3s;
            justify-content: center;
            border: dashed gray 2px;      
            position: relative;
            cursor: pointer;
            input{
                width: 120px;
                height: 120px;
                cursor: pointer;
                opacity: 0;
            }
            .text{
                position: absolute;
            }
            &:hover{
                background-color: gray;
            }
        }
    }
    .reviews{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
        
        .top{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
        }
        .content{
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            padding: 5px 0px 10px;
            border-bottom: 1px solid rgb(206, 206, 206);
            .user{
                font-weight: bold;
                margin-bottom: 5px;
            }

            .reviewdate{
                font-size: 10px;
                color: gray;
                position: absolute;
                left: 0px;
            }
        }

    }
    .prices{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        margin: 20px;
        .top{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
        }
        .content{
            padding: 10px 0px;
            border-bottom: 1px solid rgb(206, 206, 206);
            .line{
                display: flex;
                justify-content: space-between;
                .remove{
                    cursor: pointer;
                }
            }
        }
        

    }
}



.add-reviews,.add-price{
    form{
        .input-group {
            align-items: center;
        
            .form-control {
                background-color: white;
                border: none !important;
                border-radius: 0;
                border-bottom: 1px solid $sec-small-color  !important;
        
                &:focus {
                    border-color: $sec-color;
                    box-shadow: none;
                    border-bottom: 1px solid $base-color  !important;
                }
            }
        
            .input-group-text {
                border: none !important;
                background-color: $sec-color;
                width: 20px;
                border-radius: 5px !important;
                height: 25px;
            }
        
        }
        .input-group:focus + .input-group-text{
                background-color: $base-color;
        }
        .create {
            width: 100%;
            margin-top: 25px;
            border-radius: 18px;
            border: 0;
            background-color: $base-color;
            color: white;
            padding: 10px 0;
            box-shadow: $box-shadow;
            transition: 0.5s;

            &:hover {
                background-color: $sec-color;
            }
        }

    }
}
.reviewserror,.priceserror{
    color: red;
    margin-top: -20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}
