
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f9f9f9;
}
a{
    color: #23abe4;
}
.form-floating {
    margin: 10px 0px;
    position: relative;
    input{
        border-radius: 50px ;
        padding-right: 35px !important;
    }
}

.form-floating>label {
    left: auto;
}
.btn{
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 600;
    background-color: #5cc0eb;
    transition: 0.2s;
    border: #5cc0eb 2px solid;
    margin-bottom: 20px;
    &:hover{
        background: #ebf7fd;
        color: #23abe4;
        border: #23aae483 2px solid;
        box-shadow: 0 0 0 .25rem #23aae438 !important;

    }
}
.btnoff{
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    color: #23abe4;
    font-weight: 600;
    background-color: #ebf7fd;
    transition: 0.2s;
    border: #5cc0eb 2px solid;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    &:hover{
        background: #ebf7fd;
        color: #23abe4;
        border: #23aae483 2px solid;
        box-shadow: 0 0 0 .25rem #23aae438 !important;
    }
}
.form-control:focus{
    border-color: #23abe4 !important;
    box-shadow: 0 0 0 .25rem #23aae438 !important;
}
.form-check-input:checked{
    border-color: #23abe4 !important;
    background-color: #23abe4;
}
.form-select {
    background-position: left 0.75rem center;
    background-color: white;
}
select{
    border-radius: 50px !important;
}
textarea.form-control{
    height: 120px !important;
    border-radius: 25px !important;
}

.goback {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    .backicon {
        width: 32px;
        height: 32px;
        display: flex;
        background-color: #eeeeee;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        img {
            width: 40%;
        }

        &:hover {
            background-color: #5cc0eb;
        }
    }
}

.goback{
    cursor: pointer;
}

*::-webkit-scrollbar-track
{
	background-color: #e2e2e2;
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 15px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.0, #5cc0eb),
									   color-stop(1, #5cb6dd)),
}


@media screen and (max-width:764px) {
    *::-webkit-scrollbar {
        display: none;
    }
    
}