<div class="web">
    <div class="content">
        <div class="slider">
            <div class="cardR ">
                <h3>תפריט</h3>
                <p>ביוטי מערכת שפותחה במיוחד עבורכם, ספרים, קוסמטיקאיות, בעלי מכוני יופי, ספא, שיזוף, מרכזי טיפולים עם דגש על קלות שימוש ונוחות הפעלה.</p>
            </div>
            
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a href="/">בית</a></li>
                    <li><a href="/business">חיפוש עסקים</a></li>
                    <li><a href="/login">ממשק משתמש</a></li>
                    <li><a href="/blog">בלוגים</a></li>
            </div>
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a href="/terms">תנאי שימוש</a></li>
                    <li><a href="/privacy">מדיניות הפרטיות</a></li>
                    <li><a href="/contact">דיווח באג</a></li>
            </div>
  
        </div>
    </div>
    <div class="rights">
        <div class="cardR ">
            <hr>
            <p>© 2022 - <a class="link" href="https://www.linkedin.com/in/nir-razo/">Nir Razo</a></p>
        </div>
    </div>
</div>
<div class="app">
    <div class="sticky" >
        <div class="icons">
        <a class="icon" routerLink="/">
            <mat-icon >home</mat-icon>
        </a>
        <a class="icon" routerLink="/business">
            <mat-icon>pageview</mat-icon>
        </a>
        <a class="icon" routerLink="/user-dashboard">
            <mat-icon>perm_identity</mat-icon>
        </a>
        <a class="icon" routerLink="/contact">
            <mat-icon>bug_report</mat-icon>
        </a>
        </div>
    </div>
</div>