<div class="web">
    <div class="content">
        <div class="slider">
            <div class="cardR ">
                <h3>תפריט</h3>
                <p>ביוטי מערכת שפותחה במיוחד עבורכם, ספרים, קוסמטיקאיות, בעלי מכוני יופי, ספא, שיזוף, מרכזי טיפולים עם דגש על קלות שימוש ונוחות הפעלה.</p>
            </div>
            
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a routerLink="/">בית</a></li>
                    <li><a routerLink="/business">חיפוש עסקים</a></li>
                    <li><a routerLink="/user-dashboard">ממשק משתמש</a></li>
                    <li><a routerLink="/blog">בלוגים</a></li>
            </div>
            <div class="cardR ">
                <h3>תפריט</h3>
                    <li><a routerLink="/terms">תנאי שימוש</a></li>
                    <li><a routerLink="/privacy">מדיניות הפרטיות</a></li>
                    <li><a routerLink="/contact">דיווח באג</a></li>
            </div>
  
        </div>
    </div>
    <div class="rights">
        <div class="cardR ">
            <hr>
            <p>© 2022 - <a class="link" routerLink="https://www.linkedin.com/in/nir-razo/">Nir Razo</a></p>
        </div>
    </div>
</div>
<div class="app">
    <div class="sticky" >
        <div class="icons">
        <a class="icon" routerLinkActice="active" routerLink="about">
            <img src="../../../assets/icons/aboutgray.png" width="20" alt="" srcset="">
            <div class="text">אודות</div>
        </a>
        <a class="icon"  routerLinkActice="active" routerLink="/business">
            <img src="../../../assets/icons/busgray.png" width="20" alt="" srcset="">
            <div class="text">עסקים</div>

        </a>
        <a class="icon" routerLink="/"  routerLinkActice="active">
            <img src="../../../assets/icons/homegrays.png" width="20" alt="" srcset="">
            <div class="text">בית</div>

        </a>
        <a class="icon" routerLink="/contact"  routerLinkActice="active">
            <img src="../../../assets/icons/contactgray.png" width="20" alt="" srcset="">
            <div class="text">צור קשר</div>

        </a>
        <a class="icon" routerLink="/user-dashboard"  routerLinkActice="active"> 
            <img src="../../../assets/icons/mangary.png" width="20" alt="" srcset="">
            <div class="text">אזור אישי</div>

        </a>
        </div>
    </div>
</div>