<div class="fullpage">
    <div class="top" [style.background]="background">
        <div class="right">
            <div class="text">מקום לשני <br>{{topTitle}}</div>
            <app-button link="/business" [style.color]="color" value="חיפוש"></app-button>
        </div>
        <div class="left">
            <img src="/assets/man.jpg" alt="">
        </div>
    </div>
    <div class="all">
        <div class="service">
            <div class="title">שירותים</div>
            <div class="services">
                <app-servicecard text="מספרות"></app-servicecard>
                <app-servicecard></app-servicecard>
                <app-servicecard></app-servicecard>
                <app-servicecard></app-servicecard>
                <app-servicecard></app-servicecard>
                <app-servicecard></app-servicecard>
            </div>
        </div>
        <div class="business">
            <div class="title">עסקים מובילים</div>
            <div class="business" *ngFor="let item of businessData">
                <div class="busines" *ngIf="item.bgender == gender">
                    <app-business-card id="{{item.bid}}" bname="{{item.bname}}" blogo="{{item.blogo}}"
                        bsubject="{{item.bsubject}}" baddress="{{item.baddress}}" bcity="{{item.bcity}}"
                        blikes="{{item.blikes}}" bviews="{{item.bviews}}"></app-business-card>
                </div>
            </div>
            <app-button link="/business" color="white" background="{{this.background}}" value="חיפוש">
            </app-button>
        </div>
        <div class="blogs">
            <div class="title">בלוגים מובילים</div>
            <div class="text">יעלו בקרוב...</div>
        </div>
    </div>