.fullpage {
    .top {
        display: flex;
        color: white;
        justify-content: center;
        font-weight: bold;
        background-position: bottom !important;
        height: 50vh;
        margin-bottom: -40px;
        background-size: cover !important;
        .right {
            width: 100%;
            padding: 20px 5%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            margin-bottom: 40px;
            .text {
                margin-bottom: 10px;
            }
            app-button{
                width: 70%;
            }

        }
    }

    .all {
        background-color: #f7f6fb;
        padding: 20px 5%;
        border-radius: 30px 30px 0 0 ;
        box-shadow: 0 0 200px rgba(108, 108, 108, 0.423);
        .service {
            .title {
                font-weight: bold;
                margin-top: 10px;
            }

            .services {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
            }
        }

        .business {
            margin-bottom: 10px;

            .title {
                margin-top: 20px;
                margin-bottom: -10px;
                font-weight: bold;
            }
        }

        .blogs {
            margin-top: 10px;

            .title {
                font-weight: bold;
            }

            .text {
                text-align: center;
            }
        }
    }
}

.all,.business.blogs{
    max-width: 800px;
    margin: 0 auto;
}