<div class="fullpage">
    <div class="top" [style.background]="background">
        <div class="right">
            <div class="text">מכוני היופי של ישראל<br> {{topTitle}}</div>
            <app-button link="/business" [style.color]="color" value="חיפוש"></app-button>
        </div>
    </div>
    <div class="all">
        <div class="service">
            <div class="title">שירותים</div>
            <div class="services">
                <app-servicecard val="מספרות" text="מספרות" icon="/assets/1057369.png"></app-servicecard>
                <app-servicecard val="גבות" text="גבות" icon="/assets/1271416.png"></app-servicecard>
                <app-servicecard val="קעקועים" text="קעקועים" icon="/assets/2635825.png"></app-servicecard>
                <app-servicecard val="איפור" text="איפור" icon="/assets/2947436.png"></app-servicecard>
                <app-servicecard val="קוסמטיקה" text="קוסמטיקה" icon="/assets/3163173.png"></app-servicecard>
                <app-servicecard val="ציפורניים" text="ציפורניים" icon="/assets/4780548.png"></app-servicecard>

            </div>
        </div>
        <div class="title">עסקים מובילים</div>
        <div class="all-business">
            <div class="business" *ngFor="let item of businessData">
                <div class="busines">
                    <app-business-card id="{{item.bid}}" bname="{{item.bname}}" blogo="{{item.blogo}}"
                        bsubject="{{item.bsubject}}" baddress="{{item.baddress}}" bcity="{{item.bcity}}"
                        blikes="{{item.blikes}}" bviews="{{item.bviews}}"></app-business-card>
                </div>
            </div>
        </div>
        <app-button link="/business" color="white" background="black" value="הצג הכל">
        </app-button>
        <div class="title">בלוגים מובילים</div>
        <div class="blogs">
                <div class="blog" *ngFor="let item of blogData">
                    <app-blogcard id="{{item.bid}}" btitle="{{item.btitle}}" blogo="{{item.blogo}}"
                        bsubtitle="{{item.bsubtitle}}" bcontent="{{item.bcontent}}" bcreatedate="{{item.bcreatedate}}">
                    </app-blogcard>
                </div>
        </div>
        <app-button link="/blog" color="white" background="black" value="הצג הכל"></app-button>
    </div>
<div class="divaider"></div>