<div class="fullpage">
  <div class="all">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="false"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ bannerfirst }}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{ bannersec }}" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="service" *ngIf="!load">
      <div class="title">קטגוריות מובילות</div>
      <div class="services">
        <app-servicecard
          val="מספרות"
          icon="/assets/services/hair.jpg"
          len="{{ lenbusinessDataHair }}"
          [style.display]="displaybusinessDataHair"
        ></app-servicecard>
        <app-servicecard
          val="גבות"
          icon="/assets/services/eyebrow.jpg"
          [style.display]="displaybusinessDataEyebrows"
          len="{{ lenbusinessDataEyebrows }}"
        ></app-servicecard>
        <app-servicecard
          val="קעקועים"
          icon="/assets/services/tattoo.jpg"
          [style.display]="displaybusinessDataTattoo"
          len="{{ lenbusinessDataTattoo }}"
        ></app-servicecard>
        <app-servicecard
          val="איפור"
          icon="/assets/services/makeup.jpg"
          [style.display]="displaybusinessDataMakeup"
          len="{{ lenbusinessDataMakeup }}"
        ></app-servicecard>
        <app-servicecard
          val="קוסמטיקה"
          icon="/assets/services/cosmatics.jpg"
          [style.display]="displaybusinessDataCosmatics"
          len="{{ lenbusinessDataCosmatics }}"
        ></app-servicecard>
        <app-servicecard
          val="ציפורניים"
          icon="/assets/services/nail.jpg"
          [style.display]="displaybusinessDataNail"
          len="{{ lenbusinessDataNail }}"
        ></app-servicecard>
      </div>
    </div>
    <div class="item" *ngIf="load">
      <div class="top">
        <div class="pretitle">קטגוריה מובילה</div>
        <div
          class="preshow"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
      </div>
    </div>
    <div class="item" *ngIf="load">
      <div class="top">
        <div class="pretitle">קטגוריה מובילה</div>
        <div
          class="preshow"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
      </div>
    </div>
    <div class="item" *ngIf="load">
      <div class="top">
        <div class="pretitle">קטגוריה מובילה</div>
        <div
          class="preshow"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
      </div>
    </div>
    <div class="item" *ngIf="load">
      <div class="top">
        <div class="pretitle">קטגוריה מובילה</div>
        <div
          class="preshow"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
      </div>
    </div>
    <div class="item" *ngIf="load">
      <div class="top">
        <div class="pretitle">קטגוריה מובילה</div>
        <div
          class="preshow"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
        <div class="preloader">
          <app-business-card-preloader></app-business-card-preloader>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataHair">
      <div class="top">
        <div class="title">מספרות מובילות</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'מספרות' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataHair">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataMakeup">
      <div class="top">
        <div class="title">מכוני איפור מובילים</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'איפור' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataMakeup">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataNail">
      <div class="top">
        <div class="title">בונות ציפורניים מובילות</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'ציפורניים' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataNail">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataEyebrows">
      <div class="top">
        <div class="title">מכוני גבות מובילים</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'גבות' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataEyebrows">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataCosmatics">
      <div class="top">
        <div class="title">מכוני קוסמטיקה מובילים</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'קוסמטיקה' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataCosmatics">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [style.display]="displaybusinessDataTattoo">
      <div class="top">
        <div class="title">מכוני קעקועים מובילים</div>
        <div
          class="show"
          [routerLink]="['/business']"
          [queryParams]="{ category: 'קעקועים' }"
        >
          הצג הכל
        </div>
      </div>
      <div class="all-business">
        <div class="business" *ngFor="let item of businessDataTattoo">
          <div class="busines">
            <app-business-card
              id="{{ item.bid }}"
              bname="{{ item.bname }}"
              blogo="{{ item.blogo }}"
              bsubject="{{ item.bsubject }}"
              baddress="{{ item.baddress }}"
              bcity="{{ item.bcity }}"
              blikes="{{ item.blikes }}"
              bviews="{{ item.bviews }}"
            ></app-business-card>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="top">
        <div class="title">בלוגים מובילים</div>
        <div class="show" [routerLink]="['/blog']">הצג הכל</div>
      </div>
      <div class="blogs">
        <div class="blog" *ngFor="let item of blogData">
          <app-blogcard
            id="{{ item.bid }}"
            btitle="{{ item.btitle }}"
            blogo="{{ item.blogo }}"
            bsubtitle="{{ item.bsubtitle }}"
            bcontent="{{ item.bcontent }}"
            bcreatedate="{{ item.bcreatedate }}"
          >
          </app-blogcard>
        </div>
      </div>
    </div>
  </div>
  <div class="divaider"></div>
</div>
