.fullpage {
    .top {
        display: flex;
        color: white;
        border-radius: 0 0 50% 50%;
        font-weight: bold;
        background-position: center !important;
        height: 50vh;
        background-size: cover !important;
        .right {
            width: 100%;
            padding: 20px 5%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            margin-bottom: 40px;
            .text {
                margin-bottom: 10px;
            }
            app-button{
                width: 30%;
            }

        }
    }

    .all {
        background-color: #edf4f7;
        padding: 20px 5%;

        .service {
            .title {
                font-weight: bold;
                margin-top: 10px;
            }

            .services {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
            }
        }

        .business {
            margin-bottom: 10px;

            .title {
                margin-top: 20px;
                margin-bottom: -10px;
                font-weight: bold;
            }
        }

        .blogs {
            margin-top: 10px;

            .title {
                font-weight: bold;
            }

            .text {
                text-align: center;
            }
        }
    }
}

.all,.business.blogs{
    max-width: 800px;
    margin: 0 auto;
}