.fullpage {
    margin: 0 auto;


    .all {
        position: relative;
        z-index: 1;
        max-width: 1551px;

        .service {
            .services {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                gap: 10px;
                padding-bottom: 10px;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            
        }

        .all-business {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 15px;
            padding-bottom: 10px;

            .business,
            .preloader {
                max-width: 371px;
                width: 100%;
                scroll-snap-align: start;


            }

            &::-webkit-scrollbar {
                display: none;
            }

        }

        .blogs {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 15px;
            padding-bottom: 10px;

            &::-webkit-scrollbar {
                display: none;
            }

        }

    }
}

.all,
.business.blogs {
    max-width: 100%;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    text-align: right;
    margin: 10px 0 10px 0;
    font-size: 27px;
}

@media screen and (max-width:600px) {
    .fullpage {
        margin-right: 18px !important;
    }
    .title{
        margin: 9px 0 4px 0;
        font-size: 17px;
    }
}

@keyframes route {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

.divaider {
    margin-top: 70px;
}