<div class="fullpage">
    <div class="col">
        <div class="hello">ממשק ניהול</div>
        <div class="profile">
            <div class="icon">
                <div class="circle">
                    NR
                </div>
            </div>
            <div class="user-details">
                <div class="user-name">{{user.userfname}} {{user.userlname}}</div>
                <div class="user-email">{{user.useremail}}</div>
            </div>
        </div>
        <div class="bottom">
            <div class="title">
                הגדרות
            </div>
            <a class="item" routerLink="users">משתמשים
                <span>></span>
            </a>
            <a class="item" routerLink="business">עסקים
                <span>></span>
            </a>
            <a class="item" routerLink="blogs">בלוגים 
                <span>></span>
            </a>
            <a class="item" routerLink="reviews">ביקורות
                <span>></span>
            </a>
            <a class="item" routerLink="media">תמונות  
                <span>></span>
            </a>
        </div>
    </div>
    <div class="col img">
        <img src="../../../assets/GUI/air.png" alt="air">
    </div>
</div>